@model PagedList.IPagedList<BSNCapstone.Models.Publisher>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin-Nhà xuất bản";
    var cloudinary = (CloudinaryDotNet.Cloudinary)ViewBag.cloudinary;
}

<!DOCTYPE html>
<html lang="en">

<body>
    <!------BÊN PHẢI------>
    <div class="col-md-10">
        <div class="slide-tab">
            <div class="form-inline">
                <label>Danh sách Nhà Xuất Bản</label>

                <div class="form-group add">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Thêm NXB</button>
                    <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Tìm kiếm..." />
                </div>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!---Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Thêm Nhà xuất bản</h4>

                            </div>
                            <div class="midle-modal">
                                <div class="row content" style="margin-top:10px;">
                                    @*HaiCM. Update. Start. 05-11-2016*@
                                    @*<div class="col-sm-6 form-group" style="margin-top:1%">
                                            <label class="col-sm-2 control-label" style="text-align:right;width:35%">Tên NXB: </label>
                                            <input type="text" class="col-sm-4 form-control" id="pubName" placeholder="Tên NXB" style="width:65%;margin-top:-2%">
                                        </div>*@
                                    <div class="col-sm-12 form-group" style="margin-top:1%">
                                        <label class="col-sm-2 control-label" style="text-align:right;width:26%">Tên NXB: </label>
                                        <input type="text" class="col-sm-4 form-control" id="pubName" placeholder="Tên NXB" style="width:50%;margin-top:-1%">
                                    </div>
                                    @*HaiCM. Update. End. 05-11-2016*@
                                    <div class="col-sm-12 form-group" style="margin-top:1%">
                                        <label class="col-sm-2 control-label" style="text-align:right;width:26%">Địa Chỉ: </label>
                                        @*HuyenPT. Update. Start. 02-11-2016*@
                                        @*<textarea style="width:70%;"></textarea>*@
                                        @*HaiCM. Update. Start. 05-11-2016*@
                                        @*<textarea style="width:70%;" id="pubAddress"></textarea>*@
                                        <input type="text" class="col-sm-4 form-control" id="pubAddress" placeholder="Địa chỉ" style="width:50%;">
                                        @*HaiCM. Update. End. 05-11-2016*@
                                        @*HuyenPT. Update. End. 02-11-2016*@
                                    </div>
                                    @*HuyenPT. Create. Start. 02-11-2016*@
                                    @*HaiCM. Update. Start. 05-11-2016*@
                                    @*<label>Số điện thoại:</label>
                                        <input type="text" id="pubPhoneNo" style="width:70%;">*@
                                    <div class="col-sm-12 form-group" style="margin-top:1%">
                                        <label class="col-sm-2 control-label" style="text-align:right;width:26%">Số điện thoại: </label>
                                        <input type="text" class="col-sm-4 form-control" id="pubPhoneNo" placeholder="Số điện thoại" style="width:50%;">
                                    </div>
                                    @*HaiCM. Update. End. 05-11-2016*@
                                    @*HuyenPT. Create. End. 02-11-2016*@
                                    <div class="col-sm-6" style="margin-top:1%; margin-left:180px">
                                        @*HuyenPT. Update. Start. 02-11-2016*@
                                        @*<input type="file" id="CMND" style="color:black">*@
                                        <input type="file" id="pubImage" style="color:black">
                                        @*HuyenPT. Update. End. 02-11-2016*@
                                        <p class="help-block" style="color:black">Thêm Logo NXB</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                @*HuyenPT. Update. Start. 02-11-2016*@
                                @*<button type="button" class="btn btn-default" data-dismiss="modal">Thêm</button>*@
                                @*<button type="button" class="btn btn-default" data-dismiss="modal" id="UploadPublisher" style="margin-top:10px">Thêm</button>*@
                                @*HuyenPT. Update. End. 02-11-2016*@
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top:10px"
                                        id="UploadPublisher" onclick="UploadPublisher()" data-url="@Url.Action("Upload", "Publisher")">
                                    Thêm
                                </button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-top:10px;">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----Vạch phân chia----->
            <div class="divider-horizontal"></div>
            <!--                Bảng-->
            <div class="table">
                <table class="table table-striped table-bordered table-hover" id="dev-table">
                    <thead>
                        <tr>
                            <th style="width:1px">#</th>
                            <th>Ảnh</th>
                            <th style="width:400px">Nhà Xuất Bản</th>
                            <th style="width:300px">Địa chỉ</th>
                            @*HuyenPT. Create. Start. 02-11-2016*@
                            <th style="width:300px">Số điện thoại</th>
                            @*HuyenPT. Create. End. 02-11-2016*@
                            @*HaiCM. Create. Start. 05-11-2016*@
                            <th style="width:170px">Hành động</th>
                            @*HaiCM. Create. End. 05-11-2016*@
                        </tr>
                    </thead>
                    <tbody>
                        @*HuyenPT. Create. Start. 02-11-2016*@
                        @{int i = 1;}
                        @foreach (var publisher in Model)
                        {
                            <tr id=@i>
                                <td style="vertical-align: middle">@i</td>
                                <td>
                                    @cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                    .Height(130).Width(130).Crop("fill")).BuildImageTag(publisher.ImagePublicId,
                                    new CloudinaryDotNet.StringDictionary("class=thumbnail inline"))
                                </td>
                                <td style="vertical-align: middle">@publisher.Name</td>
                                <td style="vertical-align: middle">@publisher.Address</td>
                                <td style="vertical-align: middle; text-align:center">@publisher.PhoneNumber</td>
                                <td style="vertical-align: middle; text-align: center">
                                    <button type="submit" class="btn btn-default fa fa-pencil-square-o" data-toggle="modal" data-target="#@publisher.Id">Sửa</button>
                                    <button type="submit" class="btn btn-danger fa fa-close" onclick="DeletePublisher('@publisher.Id', @i)" id="DeletePublisher" data-url="@Url.Action("Delete", "Publisher")">Xóa</button>
                                </td>
                            </tr>
                            i++;
                            <div class="modal fade" id="@publisher.Id" role="dialog">
                                <div class="modal-dialog">
                                    <!---Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Chỉnh sửa thông tin NXB</h4>
                                        </div>
                                        <div class="midle-modal">
                                            <div class="row content" style="margin-top:10px;">
                                                <div class="col-sm-12 form-group" style="margin-top:1%">
                                                    <label class="col-sm-2 control-label" style="text-align:right;width:26%">Tên NXB: </label>
                                                    <input type="text" class="col-sm-4 form-control" placeholder="Tên NXB" style="width:50%;margin-top:-1%"
                                                           id="pubEditedName" value="@publisher.Name">
                                                </div>
                                                <div class="col-sm-12 form-group" style="margin-top:1%">
                                                    <label class="col-sm-2 control-label" style="text-align:right;width:26%">Địa Chỉ: </label>
                                                    <input type="text" class="col-sm-4 form-control" placeholder="Địa chỉ" style="width:50%;"
                                                           id="pubEditedAddress" value="@publisher.Address">
                                                </div>
                                                <div class="col-sm-12 form-group" style="margin-top:1%">
                                                    <label class="col-sm-2 control-label" style="text-align:right;width:26%">Số điện thoại: </label>
                                                    <input type="text" class="col-sm-4 form-control" placeholder="Số điện thoại" style="width:50%;"
                                                           id="pubEditedPhoneNo" value="@publisher.PhoneNumber">
                                                </div>
                                                <div class="col-sm-6" style="margin-top:1%; margin-left:180px">
                                                    @cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                                    .Height(130).Width(130).Crop("fill")).BuildImageTag(publisher.ImagePublicId,
                                                    new CloudinaryDotNet.StringDictionary("class=thumbnail inline"))
                                                    <input type="file" id="pubEditedImage" style="color:black">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top:10px;"
                                                    id="EditPublisher" onclick="EditPublisher('@publisher.Id')" data-url="@Url.Action("Edit", "Publisher")">
                                                Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-top:10px;">Hủy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*HuyenPT. Create. End. 02-11-2016*@
                    </tbody>
                </table>
                <br />
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên tổng số @Model.PageCount trang
                @Html.PagedListPager(Model, page => Url.Action("Index", "Publisher", new { page }))
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script src="~/Scripts/Custom/publisher.js"></script>
}