@model BSNCapstone.Models.ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";
    var listHotBook = (List<BSNCapstone.ViewModels.BooksSuggestViewModel>)ViewBag.listHotBook;
    var listNewBook = (List<BSNCapstone.ViewModels.BooksSuggestViewModel>)ViewBag.listNewBook;
    var cloudinary = (CloudinaryDotNet.Cloudinary)ViewBag.cloudinary;
    var randomAuthor = (List<BSNCapstone.Models.ApplicationUser>)ViewBag.randomAuthor;
    var randomPublisher = (List<BSNCapstone.Models.Publisher>)ViewBag.randomPublisher;
    var listGroup = (List<BSNCapstone.Models.Group>)ViewBag.listGroup;
    var allAuthors = (List<BSNCapstone.Models.ApplicationUser>)ViewBag.allAuthors;
 }

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container-fluid text-left">
        <div class="row content">
            <!-------------------------------Phần bên trái-------------------------------------->
            @*HaiCM. Create. Start. 19-11-2016*@
            <div class="col-md-2 col-sm-4 col-xs-12 sidenav">
                <div class="col-md-2" style="padding-left:0; margin-top: 10px;">
                    @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                            .Height(25).Width(25).Crop("fill")).BuildImageTag(@Model.Avatar,
                                new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                </div>
                <div class="col-md-10 col-sm-8" style="padding-left:0;margin-top:15px">
                    <a href="@Url.Action("Details", "Timeline", new { id = @Model.Id })"><strong>@Model.UserName</strong></a>
                </div>

                <a href="@Url.Action("EditProfile", "Timeline", new { id = @Model.Id })">Chỉnh sửa thông tin cá nhân</a>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-left" class="panel-heading">
                        <h5><strong>NHÓM</strong></h5>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-group">
                        @foreach (var group in listGroup)
                        {
                            <a href="@Url.Action("MainPage", "Groups", new { id = @group.Id })" data-toggle="tooltip" title="@group.GroupName">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                        @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                            .Height(20).Width(20).Crop("fill")).BuildImageTag(group.AvaImg,
                                                new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                                    </div>
                                    <div class="col-md-8">
                                        <li>
                                            <span>
                                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@group.GroupName.ToLower())
                                            </span>
                                        </li>
                                    </div>
                                    <div class="col-md-2">
                                        <p>@group.GroupMembers.Count</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        }
                    </ul>
                </div>
                <!--------------------------->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-left" class="panel-heading">
                        <h5><strong>MỚI XUẤT BẢN</strong></h5>
                    </div>
                </div>
                @foreach (var book in listNewBook)
                {
                    <div class="row" style="padding-left: 20px;">
                        <div class="col-md-6" style="padding-left:5px;">
                            @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                .Height(117).Width(90).Crop("fill")).BuildImageTag(book.ImgPublicId,
                                    new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                        </div>
                        <fieldset class="rating" style="padding-right:15px;">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 style="float:right;padding-right:5px;">@book.RateTime lượt đánh giá</h5>
                        <br>
                        <br>
                        <button class="button buttonRe" style="margin-left:10px;">Nhận xét</button>
                        <div class="col-md-12 list-group" style="padding-left:6px">
                            <span>
                                <strong data-toggle="tooltip" title="@book.BookName">
                                    <a href="@Url.Action("Details", "Books", new { id = @book.BookId })">@book.BookName.ToUpper()</a>
                                </strong>
                                <br>@foreach (var author in book.AuthorName)
                                    {
                                        if (book.AuthorName.Last() == author)
                                        {
                                            <i data-toggle="tooltip" title="@allAuthors.Where(x => x.Id.Equals(author)).FirstOrDefault().UserName" class="authorname">
                                                <strong>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@allAuthors.Where(x => x.Id.Equals(author)).FirstOrDefault().UserName.ToLower()) </strong>
                                            </i>
                                        }
                                        else
                                        {
                                            <i data-toggle="tooltip" title="@allAuthors.Where(x => x.Id.Equals(author)).FirstOrDefault().UserName" class="authorname">
                                                <strong>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@allAuthors.Where(x => x.Id.Equals(author)).FirstOrDefault().UserName.ToLower()), </strong>
                                            </i>
                                        }
                                    }
                            </span>
                        </div>
                    </div>
                }
            </div>
            @*HaiCM. Creat. End. 19-11-2016*@
            <!-------------------------------Hết phần bên trái---------------------------------->
            <!-------------------------------Center Post---------------------------------------->
            <div class="col-md-6 col-sm-8 col-xs-12 text-left">
                <br />
                <div class="row">
                    <!---------PHẦN NHẬP NỘI DUNG BÀI POST VÀ TAG SÁCH------------>
                    <div class="col-md-12">
                        <div class="post-card" style="background-color: white;">
                            <!--TextBox để nhập nội dung post-->
                            <textarea class="write-post" placeholder="Bạn đang nghĩ gì ?"
                                      id="txtPostContent" data-bind="value: newMessage"></textarea>

                            <div class="divider-horizontal"></div>

                            <div class="row" style="padding: 5px 15px;">
                                <!--Hiển thị thẻ sách - chờ design update-->
                                <div class="col-md-6 col-sm-12 col-xs-12"></div>
                                <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: right;">
                                    <!--Button để hiển thị ra pop-up gắn thẻ sách-->
                                    @*<button id="choose-book-tag" class="btn btn-default">Gắn Thẻ sách</button>*@

                                    <!--Vanttcadded_SearchBox-->
                                   
                                        <form id="searchForm"> 
                                            <fieldset>
                                                <div class="input">
                                                    <input type="text" name="s" id="s" />
                                                </div>
                                            </fieldset>
                                    </form>

                                    <!--Vanttcadded_SearchBox-->

                                    <!--Button đăng bài post-->
                                    <input class="btn btn-default" type="button" style="background-color: #224A86" value="Đăng"
                                           data-url="/Index/SavePost" id="btnShare" data-bind="click: addPost" />
                                </div>
                                <!--Pop-up để nhập tag sách-->
                                @*<div id="book-tag-select" style="display: none">
                                    <div class="content">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nhập thẻ sách">
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------HIỂN THỊ CÁC BÀI POST-------------------------->
                <div class="col-md-12" style="margin-top: 7px;" id="msgHolder" data-bind="foreach: posts">
                    <div class="post-card" style="padding-top: 5%; padding: 5px 15px">
                        <div class="row">
                            <div class="col-md-12">
                                <!--Hiển thị thông tin người dùng-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--Ảnh đại diện-->
                                        <div class="owner-avatar">
                                            <img data-bind="attr: { src : PostedByAvatar }" />
                                        </div>

                                        <div class="owner-info">
                                            <!--Tên người dùng-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="owner-name" data-bind="text : PostedBy"></a>
                                                </div>
                                                <!--Drop down list gồm chức năng sửa và xóa post-->
                                                <div class="col-md-6 pull-right">
                                                    <button type="button" class="btn btn-default dropdown-toggle buttondropdown pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="fa fa-angle-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <!--Button edit post-->
                                                        <li>
                                                            <a href="#" data-toggle="modal" data-target="#editDialog">Sửa</a>
                                                        </li>
                                                        <!--Button xóa post-->
                                                        <li>
                                                            <a href="#" data-bind="click: deletePost"> Xóa</a>
                                                        </li>
                                                    </ul>
                                                    <!--Pop-up edit post-->
                                                    <div class="modal fade" id="editDialog" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">Edit Post</h4>
                                                                </div>
                                                                <div class="midle-modal">
                                                                    <div class="row content" style="margin-top:10px;">
                                                                        <div class="owner-avatar" style="margin:0 0 5px 26px;">
                                                                            <img src="" style="float:left">
                                                                            <input type="text" class="write-post" style="float:left; width:auto" data-bind="value: Message" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal">Hùy</button>
                                                                    <input type="button" class="btn btn-default" style="background-color: #224A86; color:white"
                                                                           data-dismiss="modal" data-toggle="modal" data-bind="click: editPost" value="Lưu">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Thời gian post bài-->
                                            <div class="row">
                                                <div class="col-md-12" style="color:grey; font-size: 12px">
                                                    <i class="glyphicon glyphicon-time"></i>
                                                    <span data-bind="text : PostedDate"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Nội dung bài post-->
                                <p class="post-content"><span data-bind="html : Message"></span></p>

                                <div class="divider-horizontal"></div>
                                <div class="row">
                                    <!--Thẻ sách-->
                                    <div class="col-md-6 col-sm-12">
                                    </div>
                                    <!--Các button để tương tác với post-->
                                    <div class="col-md-6 col-sm-12" style="text-align: right;">
                                        <ul class="interaction-list">
                                            <!--Nút thích-->
                                            <li>
                                                <button class="post-interaction-btn" data-bind="click: addPostLike" style="color:hotpink ">
                                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                                    <span data-bind="text : NumOfPostLike"></span>
                                                    <span>Thích</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="divider-horizontal"></div>

                                <!--Notify của phần comment-->
                                <a data-bind="click: loadNewComments, visible: NewComments().length > 0">
                                    <span data-bind="    text: NewComments().length"></span> bình luận mới
                                </a>
                                <!--Ô ĐỂ NHẬP BÌNH LUẬN-->
                                <div>
                                    <div class="jumbotron">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!--Ảnh của nười dùng hiện tại-->
                                                <div class="owner-avatar">
                                                    <img src="/Images/profileimages/user.png" style="width:40px;height:40px" />
                                                </div>
                                                <div class="owner-info">
                                                    <div class="pull-left form-inline">
                                                        <!--Textbox để viết bình luận-->
                                                        <input type="text" class="form-control" style="width: 150%; height: 30px;" data-bind="value : newCommentMessage" placeholder="Viết bình luận..."/>
                                                    </div>
                                                    <div class="pull-right">
                                                        <!--Button để bình luận-->
                                                        <input type="button" class="btn btn-warning" value="Bình luận" data-bind="click: addComment"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <!--------------------------------HIẾN THỊ CÁC COMMENT CỦA BÀI POST -------------------------->
                                        <ul data-bind="foreach: PostComments">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!--Ảnh của người cmt-->
                                                    <div class="owner-avatar">
                                                        <img style="width:40px;height:40px" data-bind="attr: { src: CommentedByAvatar }" />
                                                    </div>

                                                    <div class="owner-info">
                                                        <div class="row">
                                                            <!--Tên người cmt-->
                                                            <a class="authorname" data-bind="text: CommentedBy" style="padding-left: 4%;"></a>
                                                            <!--Nội dung cmt-->
                                                            <p data-bind="    html: Message" style="font-size: 15px; margin-left: 5%;"></p>
                                                        </div>
                                                    </div>

                                                    <!--Các chức năng tương tác với comment-->
                                                    <ul class="interaction-list" style="padding-left: 8%;">
                                                        <li>
                                                            <button class="post-interaction-btn" style="color:grey; font-size: 12px">
                                                                <i class="glyphicon glyphicon-time"></i>
                                                                <span data-bind="text: CommentedDate"></span>
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button class="post-interaction-btn" style="color:grey; font-size: 12px">
                                                                <i class="glyphicon glyphicon-remove-sign"></i>
                                                                <span>Xóa</span>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--------------------------------Phần bên phải------------------------------------->
            @*HaiCM. Create. Start. 19-11-2016*@
            <div class="col-md-4 sidenav">
                <div class="text-center" class="panel-heading">
                    <h5 style="margin-top: 4%;"><strong>XU HƯỚNG HIỆN NAY</strong></h5>
                </div>
                <!--  Bắt đầu phần trending now -->
                <div class="row" style="margin-top: 6.5%;">
                    <!--VÒNG FOR BẮT ĐẦU TỪ DIV NÀY-->
                    @foreach (var hotBook in listHotBook)
                    {
                        <div class="col-md-6" style="padding-left:10px;">
                            <div class="col-md-6" style="padding-left:0px;">
                                @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                    .Height(117).Width(90).Crop("fill")).BuildImageTag(hotBook.ImgPublicId,
                                        new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                            </div>
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" />
                                <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" />
                                <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" />
                                <label class="full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" />
                                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" />
                                <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            </fieldset>
                            <h5 style="float:right;">@hotBook.RateTime lượt đánh giá</h5>
                            <br>
                            <br>
                            <button class="button buttonRe" style="margin-left:15px;">Nhận xét</button>
                            <div class="col-md-12 list-group">
                                <span>
                                    <strong data-toggle="tooltip" title="@hotBook.BookName">
                                        <a href="@Url.Action("Details", "Books", new { id = @hotBook.BookId })">@hotBook.BookName.ToUpper()</a>
                                    </strong>
                                    <br>
                                    @foreach (var author in hotBook.AuthorName)
                                    {
                                        if (hotBook.AuthorName.Last() == author)
                                        {
                                            <i data-toggle="tooltip" title="@allAuthors.Where(x => x.Id.Equals(author)).FirstOrDefault().UserName" class="authorname">
                                                <strong>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@allAuthors.Where(x => x.Id.Equals(author)).FirstOrDefault().UserName.ToLower()) </strong>
                                            </i>
                                        }
                                        else
                                        {
                                            <i data-toggle="tooltip" title="@allAuthors.Where(x => x.Id.Equals(author)).FirstOrDefault().UserName" class="authorname">
                                                <strong>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@allAuthors.Where(x => x.Id.Equals(author)).FirstOrDefault().UserName.ToLower()), </strong>
                                            </i>
                                        }
                                    }
                                </span>
                            </div>
                        </div>
                    }
                    <!--VÒNG FOR KẾT THÚC Ở ĐÂY-->
                        <div id="myRecommendation" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div style="background-color: #F7E8AF;" class="modal-header clearfix">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="modal-title"><a style="padding-left: 18%;" href="http://127.0.0.1:7211/Sach.html" class="modal-title on-story-details"><b>TOTTO CHAN BÊN CỬA SỔ</b></a></h3>
                                            </div>
                                            <div class="col-md-6">

                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body clearfix">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-md-1" style="margin-top: 5px;">
                                                    <img src="/AnhAvaNguoiDung/avaVan.jpg" style="width:50px;height:50px" />
                                                </div>
                                                <div class="col-md-11">
                                                    <div class="post-card" style="padding-top: 2px;">
                                                        <textarea class="write-post" placeholder="Bạn đang nghĩ gì ?"></textarea>
                                                        <div class="divider-horizontal"></div>
                                                        <div class="row" style="padding: 5px 15px;">
                                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                                <div class="tag-area">
                                                                    <ul class="list-book-tag">
                                                                        <li>
                                                                            <span>#Tottochanbencuaso</span>
                                                                            <i class="glyphicon glyphicon-remove"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: right;">
                                                                <button id="buttonPost" style="background-color: #224A86" class="btn btn-default">Đăng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- Kết thúc phần trending now -->
                    <!--  Bắt đầu phần tác giả -->
                    <div class="row">
                        <div class="text-left" class="panel-heading">
                            <h5><strong>TÁC GIẢ</strong></h5>
                        </div>
                        @foreach (var author in randomAuthor)
                        {
                            <div class="col-md-6" style="padding-left:10px;">
                            <div class="col-md-6" style="padding-left:0;">
                                @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                    .Height(117).Width(90).Crop("fill")).BuildImageTag(author.Avatar,
                                        new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                            </div>
                            <br>
                            <br>
                            <br>
                                <div class="hidden" id="FollowHandleHomePage" data-followerid="@Model.Id" data-url="@Url.Action("FollowHandle", "Timeline")"></div>
                                @if (!Model.Following.Contains(author.Id))
                                {
                                    <button class="button buttonFo" style="margin-left:14px;" data-option="1" data-author="@author.Id">Theo dõi</button>
                                    <button class="button buttonFo" style="margin-left:14px; display:none;" data-option="2" data-author="@author.Id">Bỏ Theo dõi</button>
                                }
                                else
                                {
                                    <button class="button buttonFo" style="margin-left: 14px; display: none;" data-option="1" data-author="@author.Id">Theo dõi</button>
                                    <button class="button buttonFo" style="margin-left:14px;" data-option="2" data-author="@author.Id">Bỏ Theo dõi</button>
                                }
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ul class="list-group">
                                    <i class="authorname">
                                        <strong data-toggle="tooltip" title="@author.UserName">
                                            <a href="@Url.Action("Details", "Timeline", new { id = @author.Id })">
                                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@author.UserName.ToLower())
                                            </a>
                                        </strong> 
                                    </i>
                                </ul>
                            </div>
                        </div>
                        }
                    </div>
                    <!--  Kết thúc phần tác giả -->
                    <!--  Bắt đầu phần nhà xuất bản -->
                    <br>
                    <div class="text-left" class="panel-heading">
                        <h5><strong>NHÀ XUẤT BẢN</strong></h5>
                    </div>
                    <div class="row">
                        @foreach (var publisher in randomPublisher)
                        {
                            <div class="col-md-6" style="padding-left:10px; margin-top:10px;">
                                <div class="col-md-6" style="padding-left:0">
                                    @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                        .Height(117).Width(90).Crop("fill")).BuildImageTag(publisher.ImagePublicId,
                                            new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                                </div>
                                <ul class="list-group">
                                    <h6 data-toggle="tooltip" title="@publisher.Name">@publisher.Name</h6>
                                </ul>
                                <fieldset class="pull-right">
                                    <i id="star" class="glyphicon glyphicon-star"></i>
                                    <i id="star" class="glyphicon glyphicon-star"></i>
                                    <i id="star" class="glyphicon glyphicon-star"></i>
                                    <i id="star" class="glyphicon glyphicon-star"></i>
                                    <i id="star" class="glyphicon glyphicon-star"></i>
                                </fieldset>
                            </div>
                        }
                    </div>
                    <!--  Kết thúc phần tác giả  -->
                </div>
            </div>
            @*HaiCM. Create. End. 19-11-2016*@
            <!--------------------------------Hết phần bên phải------------------------------------->
        </div>
</body>
</html>

@section scripts{
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/Custom/post.js"></script>
    <script src="~/Scripts/Custom/follow-handle.js"></script>

    <link rel="stylesheet" href="~/Content/Trangchu_canhan_tacgia.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">

<link href="~/SearchBox/css/style.css" rel="stylesheet" />
<script src="~/SearchBox/js/jquery.color.js"></script>
<script src="~/SearchBox/js/script.js"></script>

<script src="~/JqueryUI/js/jquery-ui.min.js"></script>
<link href="~/Tageditor/css/jquery.tag-editor.css" rel="stylesheet" />
<script src="~/Tageditor/js/jquery.caret.min.js"></script>
<script src="~/Tageditor/js/jquery.tag-editor.js"></script>
<script src="~/Tageditor/js/jquery.tag-editor.min.js"></script>
}

<script>
    $(document).ready(function () {
        $('#s').tagEditor({
            autocomplete: {
                delay: 0,
                position: { collision: 'flip' },

                source: function (request, response) {
                    $.ajax({
                        type: 'POST',
                        //url: 'Home/GetListBookTag',
                        url: "@Url.Action("GetListBookTag", "Home")",
                        dataType: 'Json',
                        data: { input: request.term },
                        error: function (xhr, textStatus, errorThrown) {
                            alert('Error: ' + xhr.responseText);
                        },
                        success: function (data) {
                            response($.map(data, function (c) {
                                return {
                                    label: c.BookName,
                                    value: c.BookName
                                }
                            }));
                        }
                    });
                },
                forceLowercase: false,
            }
        })
    })
</script>