@model BSNCapstone.ViewModels.AccountViewModel
@{
    Layout = null;
    var cloudinary = (CloudinaryDotNet.Cloudinary)ViewBag.cloudinary;
    var sliders = (List<BSNCapstone.Models.Slider>)ViewBag.sliders;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tác giả đăng ký</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/DangkySlide-Tgdk.css" rel="stylesheet">
    <!-----Sử dụng DangkySlide-tgdk.css------>
</head>

<body>
    <!-- Navigation -->
    <nav style="background-color: black; height:11%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="logo.png" alt="Bookaholic.com" style="width:180px; height:50px;margin-top:5%" href="DangKy.html">
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="col-md-5" style="padding-top:1.5%">
                            @Html.TextBoxFor(model => model.Login.Email, new { @class = "form-control", @placeholder = "Email", @style = "width: 220px;" })
                        </div>
                        <div class="col-md-4" style="padding-top:1.5%">
                            @Html.PasswordFor(model => model.Login.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                            <!------------------Quên mật khẩu-------------------->
                            <a class="forgotpass" type="button" @*data-toggle="modal" data-target="#myModal"*@ href="@Url.Action("ForgotPassword", "Account")">Bạn quên?</a>
                        </div>
                        <div class="col-md-3" style="padding-top:1.5%">
                            <input type="submit" value="Đăng nhập" class="btn btn-default" />
                        </div>
                    }
                </ul>
            </div>
        </div>
    </nav>


    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide" style="height: 89%">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (int a = 0; a < sliders.Count(); a++)
            {
                if (a == 0)
                {
                    <li data-target="#myCarousel" data-slide-to="@a" class="active"></li>
                }
                else
                {
                    <li data-target="#myCarousel" data-slide-to="@a"></li>
                }
            }
        </ol>

        <!-- SLIDE SHOW -->
        <div class="carousel-inner">
            @for (int i = 0; i < sliders.Count(); i++)
            {
                if (i == 0)
                {
                    <div class="item active">
                        <div class="fill">
                            @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                            .Height(623).Width(1349).Crop("fill")).BuildImageTag(sliders[i].PublicId,
                            new CloudinaryDotNet.StringDictionary("class=fill")))
                        </div>
                        <div class="carousel-caption">

                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="fill">
                            @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                            .Height(623).Width(1349).Crop("fill")).BuildImageTag(sliders[i].PublicId,
                            new CloudinaryDotNet.StringDictionary("class=fill")))
                        </div>
                        <div class="carousel-caption">

                        </div>
                    </div>
                }
            }
        </div>
        <div class="dangnhap container-fluid text-left" style="margin-top: 10%;">
            <!--DangVH. Create. Start (16/11/2016)-->
            <span style="color:whitesmoke; font-size:200%;position:absolute;top:-27%;right:42%">TÁC GIẢ ĐĂNG KÝ</span>
            <!--DangVH. Create. End (16/11/2016)-->
            <div class="row content">
                @using (Html.BeginForm("AuthorRegister", "Account", FormMethod.Post, new { @class = "form-horizontal", @style = "padding-left:30%;position:relative;right:10%;", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.AuthorRegister.UserName, new { @class = "form-control", @placeholder = "Tên tài khoản" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.AuthorRegister.Email, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.AuthorRegister.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.AuthorRegister.ConfirmPassword, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu" })
                    </div>
                    <div class="form-group">
                        <input type="file" id="ImgPublicId" name="img" style="color:black">
                        <br>
                        <p class="help-block">Thêm ảnh chụp chứng minh nhân dân</p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-2" style="left:-5.5%;">
                            <button type="submit" class="btn btn-default">Đăng ký</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 3000 //changes the speed
        })
    </script>
</body>
<!-- Script Area -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- sau khi doi ten nho doi ten day nua nha. -->



</html>