@model BSNCapstone.Models.AuthorRegisterViewModel

@{
    ViewBag.Title = "AuthorRegister";
}

<h2>AuthorRegister</h2>

@using (Html.BeginForm("AuthorRegister", "Account", FormMethod.Post,new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>AuthorRegisterViewModel</h4>*@
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SSNImgId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="ImgPublicId" name="img" style="color:black">
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ĐĂNG KÝ" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<br />
<br />
<div>
    @Html.ActionLink("Back to Login", "Login")
</div>
