@model BSNCapstone.Models.ResetPasswordViewModel

@{
    Layout = null;
}

<head>
    <title>Đặt lại mật khẩu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/DangkySlide-Tgdk.css" rel="stylesheet">
    <!-----Sử dụng DangkySlide-tgdk.css------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="thanhbar" style="height: 11%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/Content/Image/logo.png" alt="Bookaholic.com" style="width:180px; height:40px;margin-top:9%" onclick="window.location.href='@Url.Action("Login", "Account")'">
            </div>
        </div>
    </nav>
    <div class="dangnhap container-fluid text-left" style="margin-top: 5%">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Code) 
            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @style = "width: 100%;" })
                <p>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</p>
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu mới", @style = "width: 100%;" })
                <p>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</p>
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Xác nhận lại mật khẩu", @style = "width: 100%;" })
                <p>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default" style="width:65%;">Đặt lại</button>
            </div>
        }
    </div>
</body>