@model PagedList.IPagedList<BSNCapstone.Models.Group>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Admin-Nhóm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int numberOfGroup = ViewBag.groupNumber;
    int numberOfGroupJustCreated = ViewBag.groupJustCreated;
}

<!DOCTYPE html>

<html>
<body>
    <!------BÊN PHẢI------>
    <div class="col-md-10">

        <div class="box1">
            <div class="box1-icon">
                <span class="fa fa-users"></span>
            </div>
            <div class="info">
                <h4 class="text-center">Tổng số nhóm</h4>
                <p>@numberOfGroup</p>
            </div>
        </div>
        <div class="box1">
            <div class="box1-icon">
                <span class="fa fa-users" style="color:darkcyan;"></span>
            </div>
            <div class="info">
                <h4 class="text-center">Nhóm vừa lập</h4>
                <p>@numberOfGroupJustCreated</p>
            </div>
        </div>

        <div class="slide-tab">
            <div class="form-inline">
                <label>Danh sách Nhóm</label>
                <div class="form-group add">
                    @using (Html.BeginForm("Index", "Groups", FormMethod.Get, new { @class = "searchForm" }))
                    {
                        @Html.TextBox("searchString")
                        <input type="submit" value="Tìm" />
                    }
                    @*<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Tìm kiếm..." />*@
                </div>
            </div>
            <div class="divider-horizontal"></div>
            <div class="table">
                <table class="table table-striped table-bordered table-hover" id="dev-table">
                    <thead>
                        <tr>
                            <th style="width:1px">#</th>
                            <th>Tên nhóm</th>
                            <th>Thẻ</th>
                            <th>Số thành viên</th>
                            <th>Thời gian thành lập</th>
                            <th>Kiểu nhóm</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tab-content">
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GroupName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tag)
                                </td>
                                <td style="text-align:center">
                                    @item.GroupMembers.Count()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GroupType)
                                </td>
                                <td>
                                    @if (item.Locked == false)
                                    {
                                        @Html.DisplayName("Chưa khóa")
                                    }
                                    else
                                    {
                                        @Html.DisplayName("Bị khóa")
                                    }
                                </td>
                                <td>
                                    @if (item.Locked == true)
                                    {
                                        <button type="submit" id="LockButton" class="btn btn-default" onclick="Lock('@item.Id', '1', '')" data-url="@Url.Action("Lock", "Groups")">Mở Khóa</button>    
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", "Groups", new { page, currentFilter = ViewBag.currentFilter }))
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#adminGroup").addClass("active");
        });
    </script>
</body>
</html>

@section Scripts {
    <script src="~/Scripts/Custom/group.js"></script>
}