@model BSNCapstone.Models.Group

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cloudinary = (CloudinaryDotNet.Cloudinary)ViewBag.cloudinary;
    var currentUserId = ViewBag.currentUser;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang thảo luận nhóm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Trangnhom.css">
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Script/capstone-rename-later-v1.0.js"></script>
</head>

<body>
    <!-------------------Dưới thanh bar-------------------------->
    <!-------------------Cover & avatar------------------------->

    <div class="col-md-12 avatar-cover" style="padding:0; height: 410px;">
        @*<img class="cover-img" src="AnhCoverSach/coversach2.jpg" alt="Trolltunga Norway">*@
        @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
            .Height(350).Width(1349).Crop("fill")).BuildImageTag(Model.CoverImg,
                new CloudinaryDotNet.StringDictionary("class=cover-img")))
        @foreach (var member in Model.GroupMembers)
        {
            if (member.UserId.Equals(currentUserId) && member.RoleInGroup != "user")
            {
                <div class="change-cover">
                    <span class="btn btn-file">
                        <i class="glyphicon glyphicon-camera" style="color: white;"></i>
                            <span style="color: white;">Thay đổi ảnh bìa</span>
                        <input type="file" id="imgInpCover" accept=".jpg, .jpeg, .png, .bmp">
                    </span>
                </div>
            }
        }
        <div class="row">
            <div class="avatar">
                <div class="upload-image">
                    @*<img class="avatar-img" src="Anhtacgia/Jeff%20Kinney_tacgia.jpg" alt="Trolltunga Norway">*@
                    @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                        .Height(200).Width(200).Crop("mpad")).BuildImageTag(Model.AvaImg,
                            new CloudinaryDotNet.StringDictionary("class=avatar-img")))
                    @foreach (var member in Model.GroupMembers)
                    {
                        if (member.UserId.Equals(currentUserId) && member.RoleInGroup != "user")
                        {
                            <div class="change-avatar">
                                <span class="btn btn-file">
                                    <i class="glyphicon glyphicon-camera" style="color: white;"></i>
                                        <span style="color: white;">Thay đổi ảnh cá nhân</span>
                                    <input type="file" id="imgInpAva" accept=".jpg, .jpeg, .png, .bmp">
                                </span>
                            </div>
                        }
                    }
                </div>
            </div>
            <ul class="nav nav-tabs" style="bottom:3%;">
                <li role="presentation" class="active">@Html.ActionLink("Thảo luận", "MainPage", "Groups", new { id = Model.Id })</li>
                <li role="presentation">@Html.ActionLink("Thành viên", "Members", "Groups", new { id = Model.Id })</li>
            </ul>

            <div class="cover-interaction">
                <button class="button buttonRe" onclick="location.href='@Url.Action("Setting", "Groups", new { id = Model.Id })'">Cài đặt</button>
                @if (Model.GroupMembers.Find(x => x.UserId.Equals(currentUserId)) == null)
                {
                    <button class="button buttonRe" onclick="GroupRequestHandle('@Model.Id', '@currentUserId', '1')">Tham gia</button>
                }
                else
                {
                    <button class="button buttonRe" onclick="GroupRequestHandle('@Model.Id', '@currentUserId', '2')">Đã Tham gia</button>
                }
                <button class="button buttonRe" data-toggle="modal" data-target="#ModalReport">Báo cáo</button>
                <div id="ModalReport" class="modal fade" role="dialog">
                    <div class="modal-dialog ">
                        <!-- Modal content-->
                        <div class="modal-content ">
                            <div style="background-color: #F7E8AF;" class="modal-header clearfix">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="modal-title"><b>Giúp chúng tôi hiểu điều đang xảy ra</b></h4>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-1" style="margin-top: 5px;">
                                            <img src="/AnhAvaNguoiDung/avaVan.jpg" style="width:50px;height:50px" />
                                        </div>
                                        <div class="col-md-11" class="radio">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optradio"> Nhóm này đang quấy rối tôi
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optradio">Nhóm này đang quấy rối một người bạn
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optradio">Nội dung khiêu dâm
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optradio">Spam hoặc lừa đảo
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optradio">Hành vi bạo lực hoặc gây hại
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optradio">Ngôn ngữ kích động thù địch
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optradio">Nhóm này để bán ma túy, súng hoặc các hàng hóa được kiểm soát khác
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optradio"><input type="text" id="Othercomment" class="form-control" placeholder="Ý kiến khác">
                                                </label>
                                            </div>
                                            <div class="divider-horizontal"></div>
                                            <div class="BT">
                                                <button id="buttonCancel" class="btn btn-default">Hủy</button>
                                                <button id="buttonPost" class="btn btn-default">Gửi</button>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--------------- hết Báo cáo -------------------------------------->
            </div>
        </div>
    </div>
    <div class="container-fluid text-left">
        <div class="row content">
            <!-----------------------Phần bên trái--------------------------------->
            <div class="col-md-2 col-sm-4 col-xs-12 sidenav">

                <!--------------------------->
                <div class="text-center" class="panel-heading">
                    <h4><strong>MÔ TẢ</strong></h4>
                </div>
                <br>
                <div class="group-description" style="width:100%; height:100px">
                    @Html.TextAreaFor(model => model.Description, new { @style = "width:100%; height:100px; resize: none;", @readonly = "readonly" })
                </div>
                <p>Thành viên : @Model.GroupMembers.Count() thành viên</p>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center" class="panel-heading">
                            <h4><strong>NHÓM</strong></h4>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <ul class="list-group">
                        <a href="#" data-toggle="tooltip" title="Hội những người yêu thích truyện HarryPotter">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                        <img src="/Anhtacgia/JKRowling_tacgia.jpg" style="width:20px;height:20px" />
                                    </div>
                                    <div class="col-md-8">
                                        <li>
                                            <span>Hội yêu thích truyện Harry Potter</span>
                                        </li>
                                    </div>
                                    <div class="col-md-2">
                                        <p>12</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="#" data-toggle="tooltip" title="Hội những người yêu thích truyện HarryPotter">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                        <img src="/Anhtacgia/James%20Patterson_tacgia.jpg" style="width:20px;height:20px" />
                                    </div>
                                    <div class="col-md-8">
                                        <li>
                                            <span>Hội yêu thích truyện Harry Potter</span>
                                        </li>
                                    </div>
                                    <div class="col-md-2">
                                        <p>12</p>
                                    </div>
                                </div>
                            </div>
                        </a>


                        <a href="#" data-toggle="tooltip" title="Hội những người yêu thích truyện HarryPotter">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                        <img src="/Anhtacgia/nguy%E1%BB%85n%20nh%E1%BA%ADt%20%C3%A1nh_tacgia.jpg" style="width:20px;height:20px" />
                                    </div>
                                    <div class="col-md-8">
                                        <li>
                                            <span>Hội yêu thích truyện Harry Potter</span>
                                        </li>
                                    </div>
                                    <div class="col-md-2">
                                        <p>12</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>
                <p class="text-right">
                    <button type="button" class="btn btn-link">Xem thêm</button>
                </p>
            </div>
            <!-------------------------------Center Post---------------------------------------->
            <div class="col-md-6 col-sm-8 col-xs-12 text-left">
                <br>
                <div class="row">
                    <!---------Recommendation Post------------>
                    <div class="col-md-12">
                        <div class="post-card" style="padding-top: 2px;">
                            <textarea class="write-post" placeholder="Bạn đang nghĩ gì ?"></textarea>
                            <div class="divider-horizontal"></div>
                            <div class="row" style="padding: 5px 15px;">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="tag-area">
                                        <ul class="list-book-tag">
                                            <li>
                                                <span>Thẻ sách</span>
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: right;">
                                    <button id="choose-book-tag" class="btn btn-default">Gắn Thẻ sách</button>
                                    <button id="buttonPost" style="background-color: #224A86" class="btn btn-default">Đăng</button>
                                </div>

                                <div id="book-tag-select" style="display: none">
                                    <div class="content">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nhập thẻ sách">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Post 1 -->

                    <div class="col-md-12" style="margin-top: 5px;" style="padding-top:5%;">
                        <div class="post-card" style="padding: 5px 15px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Post Content -->

                                    <div class="row">
                                        <!-- Post Owner -->
                                        <div class="col-md-12">
                                            <div class="owner-avatar">
                                                <img src="/AnhAvaNguoiDung/avaHuyen.jpg" style="width:50px;height:50px" />
                                            </div>

                                            <div class="owner-info">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a class="owner-name" href="">Huyền</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label class="post-time"><i class="glyphicon glyphicon-time"></i><span>11:59 PM</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="post-content">Đây là nội dung bài post</p>
                                    <!-- Post Interaction -->
                                    <div class="divider-horizontal"></div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <ul class="book-tag-list-in-post">
                                                <li>
                                                    Thẻ sách 1
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-sm-12" style="text-align: right;">
                                            <ul class="interaction-list">
                                                <li>
                                                    <button class="post-interaction-btn"><i class="glyphicon glyphicon-thumbs-up"></i><span>Thích</span></button>
                                                </li>
                                                <li>
                                                    <button class="post-interaction-btn" data-toggle="collapse" data-target="#binhluan">
                                                        <i class="glyphicon glyphicon-comment"></i>
                                                        <span>Bình luận</span>

                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="post-interaction-btn" data-toggle="modal" data-target="#ModalShare"><i class="glyphicon glyphicon-share"></i><span>Chia sẻ</span></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="divider-horizontal"></div>
                                </div>
                            </div>
                        </div>
                        <!--------------------------------------------PHẦN CHIA SẺ----------------------------------------------------->
                        <div id="ModalShare" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div style="background-color: #F7E8AF;" class="modal-header clearfix">
                                        <div class="row">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body clearfix">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-md-1" style="margin-top: 5px;">
                                                    <img src="/AnhAvaNguoiDung/avaVan.jpg" style="width:50px;height:50px" />
                                                </div>
                                                <div class="col-md-11">
                                                    <div class="post-card" style="padding-top: 2px;">
                                                        <textarea class="write-post" placeholder="Bạn đang nghĩ gì ?"></textarea>
                                                        <div class="divider-horizontal"></div>
                                                        <div class="row" style="padding: 5px 15px;">
                                                            <div class="post-card" style="padding: 5px 15px;">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <!-- Post Content -->

                                                                        <div class="row">
                                                                            <!-- Post Owner -->
                                                                            <div class="col-md-12">
                                                                                <div class="owner-avatar">
                                                                                    <img src="/AnhAvaNguoiDung/avaHuyen.jpg" style="width:50px;height:50px" />
                                                                                </div>

                                                                                <div class="owner-info">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <a class="owner-name" href="">Huyền</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <label class="post-time"><i class="glyphicon glyphicon-time"></i><span>11:59 PM</span></label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <p class="post-content">Đây là nội dung bài post</p>
                                                                        <!-- Post Interaction -->
                                                                        <div class="divider-horizontal"></div>
                                                                        <div class="row">
                                                                            <div class="col-md-6 col-sm-12">
                                                                                <ul class="book-tag-list-in-post">
                                                                                    <li>
                                                                                        Thẻ sách 1
                                                                                    </li>

                                                                                </ul>
                                                                            </div>
                                                                            <!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                                                                            <div class="col-md-6 col-sm-12" style="text-align: right;">
                                                                                <ul class="interaction-list">
                                                                                    <li>
                                                                                        <button class="post-interaction-btn"><i class="glyphicon glyphicon-thumbs-up"></i><span>Thích</span></button>
                                                                                    </li>
                                                                                    <li>
                                                                                        <button class="post-interaction-btn" data-toggle="collapse" data-target="#binhluan">
                                                                                            <i class="glyphicon glyphicon-comment"></i>
                                                                                            <span>Bình luận</span>

                                                                                        </button>
                                                                                    </li>
                                                                                    <li>
                                                                                        <button class="post-interaction-btn" data-toggle="modal" data-target="#ModalShare"><i class="glyphicon glyphicon-share"></i><span>Chia sẻ</span></button>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                                                                        </div>
                                                                        <div class="divider-horizontal"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                            </div>

                                                            <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: right;">
                                                                <button id="buttonPost" style="background-color: #224A86" class="btn btn-default">Đăng</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-*********************************************************BÌNH LUẬN VÀ TRẢ LỜI BÌNH LUẬN*************************************************/-->
                        <div id="binhluan" class="collapse">
                            <div class="jumbotron">
                                <div class="row">
                                    <!-- Post Owner -->
                                    <div class="col-md-12">
                                        <div class="owner-avatar">
                                            <img src="/AnhAvaNguoiDung/avaHuyen.jpg" style="width:40px;height:40px" />
                                        </div>

                                        <div class="owner-info">
                                            <input type="text" class="form-control" placeholder="Viết bình luận">
                                        </div>

                                    </div>
                                </div>
                                <br>
                                <!--------------------------------COMMENT CỦA NG KHÁC -------------------------->
                                <div class="row">
                                    <!-- Post Owner -->
                                    <div class="col-md-12">
                                        <div class="owner-avatar">
                                            <img src="/AnhAvaNguoiDung/avaDang.JPG" style="width:40px;height:40px" />
                                        </div>

                                        <div class="owner-info">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <a id="username" class="owner-name" href="">Huyền</a>

                                                </div>
                                                <div id="content" class="col-md-11">
                                                    <p>Cuốn sách này rất hay </p>
                                                </div>
                                            </div>
                                        </div>
                                        <ul id="action" class="interaction-list" style="padding-left: 8%;">
                                            <li>
                                                <button class="post-interaction-btn"><i class="glyphicon glyphicon-thumbs-up"></i><span>Thích</span></button>
                                            </li>
                                            <li>
                                                <button class="post-interaction-btn" data-toggle="collapse" data-target="#traloi"><i class="glyphicon glyphicon-comment"></i><span>Trả lời</span></button>
                                            </li>
                                            <li>
                                                <button class="post-interaction-btn"><i class="glyphicon glyphicon-thumbs-up"></i><span>1</span></button>
                                            </li>
                                            <li>
                                                <button class="post-interaction-btn"><span>12 phút</span></button>
                                            </li>
                                        </ul>
                                        <!----trả lời bình luận ---->
                                        <div id="traloi" class=" collapse" style="padding-left: 10%;">

                                            <div class="row">
                                                <!-- Post Owner -->
                                                <div class="col-md-12">
                                                    <div class="owner-avatar">
                                                        <img src="/AnhAvaNguoiDung/avaHai.jpg" style="width:30px;height:30px" />
                                                    </div>

                                                    <div class="owner-info">
                                                        <input type="text" class="form-control" style="width:100%;height:25px" placeholder="Viết trả lời">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <!-- Post Owner -->
                                    <div class="col-md-12">
                                        <div class="owner-avatar">
                                            <img src="/AnhAvaNguoiDung/avaHuyen.jpg" style="width:40px;height:40px" />
                                        </div>

                                        <div class="owner-info">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <a id="username" class="owner-name" href="">Huyền</a>

                                                </div>
                                                <div id="content" class="col-md-11">
                                                    <p>Cuốn sách này rất hay </p>
                                                </div>
                                            </div>
                                        </div>
                                        <ul id="action" class="interaction-list" style="padding-left: 8%;">
                                            <li>
                                                <button class="post-interaction-btn"><i class="glyphicon glyphicon-thumbs-up"></i><span>Thích</span></button>
                                            </li>
                                            <li>
                                                <button class="post-interaction-btn"><i class="glyphicon glyphicon-comment"></i><span>Trả lời</span></button>
                                            </li>
                                            <li>
                                                <button class="post-interaction-btn"><i class="glyphicon glyphicon-thumbs-up"></i><span>1</span></button>
                                            </li>
                                            <li>
                                                <button class="post-interaction-btn"><span>12 phút</span></button>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- Post 2 -->
                    <br>
                    <div class="col-md-12" style="margin-top: 5px;">
                        <div class="post-card" style="padding: 5px 15px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Post Content -->
                                    <div class="row">
                                        <!-- Post Owner -->
                                        <div class="col-md-12">
                                            <div class="owner-avatar">
                                                <img src="/AnhAvaNguoiDung/avaHai.jpg" style="width:50px;height:50px" />
                                            </div>
                                            <div class="owner-info">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a class="owner-name" href="">Hải</a>
                                                        <i class="glyphicon glyphicon-play" style="font-size: 12px; color: #ccc; margin: 0 5px;"></i>
                                                        <a class="owner-name" href="">Tên nhóm</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label class="post-time"><i class="glyphicon glyphicon-time"></i><span>11:59 PM</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="post-content">Đây là nội dung bài post</p>
                                    <!-- Post Interaction -->
                                    <div class="divider-horizontal"></div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <ul class="book-tag-list-in-post">
                                                <li>
                                                    Thẻ sách 2
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-sm-12" style="text-align: right;">
                                            <ul class="interaction-list">
                                                <li>
                                                    <button class="post-interaction-btn"><i class="glyphicon glyphicon-thumbs-up"></i><span>Thích</span></button>
                                                </li>
                                                <li>
                                                    <button class="post-interaction-btn"><i class="glyphicon glyphicon-comment"></i><span>Bình luận</span></button>
                                                </li>
                                                <li>
                                                    <button class="post-interaction-btn"><i class="glyphicon glyphicon-share"></i><span>Chia sẻ</span></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="divider-horizontal"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--------------------------------Hết BÌNH LUẬN VÀ TRẢ LỜI BÌNH LUẬN----------->
            <!------------------------Phần bên phải -------------------------------->
            <div class="col-md-4 sidenav">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center" class="panel-heading">
                            <h4><strong>ĐÁNH GIÁ VÀ ĐỌC GẦN ĐÂY</strong></h4>
                        </div>
                    </div>
                </div>
                <br>
                <!--  Bắt đầu phần trending now -->
                <div class="row">
                    <div class="col-md-3">
                        <img src="/Anhsach/nhagiakim.jpg" class="img-rounded" alt="Trolltunga Norway" width="100" height="130">

                    </div>
                    <div class="col-md-3">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <p>345 đánh giá</p>
                        <br>
                        <br>
                        <button class="button buttonRe">Nhận xét</button>
                    </div>
                    <div class="col-md-3">
                        <img src="/Anhsach/ngayxuacomotchuyentinh.jpg" class="img-rounded" alt="Trolltunga Norway" width="100" height="130">

                    </div>
                    <div class="col-md-3">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <p>345 đánh giá</p>
                        <br>
                        <br>
                        <button class="button buttonRe">Nhận xét</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <ul class="list-group">
                                <li>
                                    <span>
                                        <strong data-toggle="tooltip" title="NHÀ GIẢ KIM">NHÀ GIẢ KIM</strong>
                                        <br><i data-toggle="tooltip" title="Paulo Coelho" class="authorname"><strong>Paulo Coelho </strong> </i>
                                    </span>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <ul class="list-group">
                                <li>
                                    <span>
                                        <strong data-toggle="tooltip" title="NGÀY XƯA CÓ MỘT CHUYỆN TÌNH">NGÀY XƯA CÓ MỘT CHUYỆN TÌNH</strong>
                                        <br><i data-toggle="tooltip" title="Nguyễn Nhật Ánh" class="authorname"><strong>Nguyễn Nhật Ánh </strong> </i>
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img src="/Anhsach/trenduongbang.jpg" class="img-rounded" alt="Trolltunga Norway" width="100" height="130">

                    </div>
                    <div class="col-md-3">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <p>345 đánh giá</p>
                        <br>
                        <br>
                        <button class="button buttonRe">Nhận xét</button>
                    </div>
                    <div class="col-md-3">
                        <img src="/Anhsach/tottochanbencuaso.jpg" class="img-rounded" alt="Trolltunga Norway" width="100" height="130">

                    </div>
                    <div class="col-md-3">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <p>345 đánh giá</p>
                        <br>
                        <br>
                        <button class="button buttonRe" data-toggle="modal" data-target="#myModal">Nhận xét</button>
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">

                                <!-- Modal content-->
                                <div class="modal-content">

                                    <div style="background-color: #F7E8AF;" class="modal-header clearfix">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="modal-title"><a style="padding-left: 18%;" href="http://127.0.0.1:7211/Sach.html" class="modal-title on-story-details"><b>TOTTO CHAN BÊN CỬA SỔ</b></a></h3>
                                            </div>
                                            <div class="col-md-6">

                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body clearfix">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-md-1" style="margin-top: 5px;">
                                                    <img src="/AnhAvaNguoiDung/avaVan.jpg" style="width:50px;height:50px" />
                                                </div>
                                                <div class="col-md-11">
                                                    <div class="post-card" style="padding-top: 2px;">
                                                        <textarea class="write-post" placeholder="Bạn đang nghĩ gì ?"></textarea>
                                                        <div class="divider-horizontal"></div>
                                                        <div class="row" style="padding: 5px 15px;">
                                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                                <div class="tag-area">
                                                                    <ul class="list-book-tag">
                                                                        <li>
                                                                            <span>#Tottochanbencuaso</span>
                                                                            <i class="glyphicon glyphicon-remove"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: right;">
                                                                <button id="buttonPost" style="background-color: #224A86" class="btn btn-default">Đăng</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <ul class="list-group">
                                <li>
                                    <span>
                                        <strong data-toggle="tooltip" title="TRÊN ĐƯỜNG BĂNG">TRÊN ĐƯỜNG BĂNG</strong>
                                        <br><i data-toggle="tooltip" title="Tony Buổi Sáng" class="authorname"><strong>Tony Buổi Sáng</strong> </i>
                                    </span>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <ul class="list-group">
                                <li>
                                    <span>
                                        <strong data-toggle="tooltip" title="Totto chan bên cửa sổ">Totto chan bên cửa sổ</strong>
                                        <br><i data-toggle="tooltip" title="Kuroyanagi Tetsuko" class="authorname"><strong>Kuroyanagi Tetsuko</strong> </i>
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        //Change Avatar
        $("#imgInpAva").change(function () {
            var avatarImg = this;
            if (avatarImg.files && avatarImg.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar-img').attr('src', e.target.result);
                }
                reader.readAsDataURL(avatarImg.files[0]);
            }
            var formData = new FormData();
            formData.append("id", '@Model.Id');
            formData.append("file", avatarImg.files[0]);
            formData.append("option", 1);
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeImage", "Groups")",
                data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,

            success: function (result) {
                alert(result);
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
        });
        //Change Cover
        $("#imgInpCover").change(function () {
            var coverImg = this;
            if (coverImg.files && coverImg.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.cover-img').attr('src', e.target.result);
                }
                reader.readAsDataURL(coverImg.files[0]);
            }
            var formData = new FormData();
            formData.append("id", '@Model.Id');
            formData.append("file", coverImg.files[0]);
            formData.append("option", 2);
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeImage", "Groups")",
                data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,

            success: function (result) {
                alert(result);
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    });
    });
</script>