@model BSNCapstone.Models.Group

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang thảo luận nhóm";
    var cloudinary = (CloudinaryDotNet.Cloudinary)ViewBag.cloudinary;
    var currentUserId = ViewBag.currentUser;
    var reportContentList = (List<string>)ViewBag.groupReport;
    var allUser = (List<BSNCapstone.Models.ApplicationUser>)ViewBag.allUser;
    var listInteractBook = (List<BSNCapstone.Models.Book>)ViewBag.listInteractBook;
    var allAuthor = (List<BSNCapstone.Models.Author>)ViewBag.allAuthor;
}

<!DOCTYPE html>
<html lang="en">

<body id="body" data-groupid="@Model.Id">
    <!-------------------Dưới thanh bar-------------------------->
    <!-------------------Cover & avatar------------------------->

    <div class="hidden" id="GroupHandleRequestUrl" data-url="@Url.Action("GroupRequestHandle", "Groups")"></div>
    <div class="hidden" id="ImageChangeUrl" data-url="@Url.Action("ChangeImage", "Groups")" data-id="@Model.Id"></div>
    <div class="col-md-12 avatar-cover" style="padding:0; height: 410px;">
        @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
            .Height(350).Width(1349).Crop("fill")).BuildImageTag(Model.CoverImg,
                new CloudinaryDotNet.StringDictionary("class=cover-img")))
        @foreach (var member in Model.GroupMembers)
        {
            if (member.UserId.Equals(currentUserId) && member.RoleInGroup != "user")
            {
                <div class="change-cover">
                    <span class="btn btn-file">
                        <i class="glyphicon glyphicon-camera" style="color: white;"></i>
                        <span style="color: white;">Thay đổi ảnh bìa</span>
                        <input type="file" id="imgInpCover" accept=".jpg, .jpeg, .png, .bmp">
                    </span>
                </div>
            }
        }
        <div class="row">
            <div class="avatar">
                <div class="upload-image">
                    @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                        .Height(200).Width(200).Crop("mpad")).BuildImageTag(Model.AvaImg,
                            new CloudinaryDotNet.StringDictionary("class=avatar-img")))
                    @foreach (var member in Model.GroupMembers)
                    {
                        if (member.UserId.Equals(currentUserId) && member.RoleInGroup != "user")
                        {
                            <div class="change-avatar">
                                <span class="btn btn-file">
                                    <i class="glyphicon glyphicon-camera" style="color: white;"></i>
                                    <span style="color: white;">Thay đổi ảnh cá nhân</span>
                                    <input type="file" id="imgInpAva" accept=".jpg, .jpeg, .png, .bmp">
                                </span>
                            </div>
                        }
                    }
                </div>
            </div>


            <div class="cover-interaction">
                <button class="button buttonRe btn-success" style="color:white;" onclick="location.href='@Url.Action("Setting", "Groups", new { id = Model.Id })'">Cài đặt</button>
                @if (Model.GroupMembers.Find(x => x.UserId.Equals(currentUserId)) == null)
                {
                    <button class="button buttonRe btn-success" style="color:white;" onclick="GroupRequestHandle('@Model.Id', '@currentUserId', '1')">Tham gia</button>
                }
                else
                {
                    if (Model.GroupMembers.Find(x => x.UserId.Equals(currentUserId)).RoleInGroup != "creator")
                    {
                        <button class="button buttonRe btn-success" style="color:white;" onclick="GroupRequestHandle('@Model.Id', '@currentUserId', '2')">Đã Tham gia</button>
                    }
                }
                <button class="button buttonRe btn-success" style="color:white;" data-toggle="modal" data-target="#ModalReport">Báo cáo</button>
                <div id="ModalReport" class="modal fade" role="dialog">
                    <div class="modal-dialog ">
                        <!-- Modal content-->
                        <div class="modal-content ">
                            <div style="background-color: #F7E8AF;" class="modal-header clearfix">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="modal-title"><b>Giúp chúng tôi hiểu điều đang xảy ra</b></h4>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-1" style="margin-top: 5px;">
                                            @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                                .Height(50).Width(50).Crop("fill")).BuildImageTag(allUser.Find(x => x.Id.Equals(currentUserId)).Avatar,
                                                    new CloudinaryDotNet.StringDictionary("class=reportAva")))
                                        </div>
                                        <div class="col-md-11" class="radio">
                                            <div class="radio">
                                                @foreach (var reportContent in reportContentList)
                                                {
                                                    <label style="display: block;">
                                                        <input type="radio" name="optradio" value="@reportContent"> @reportContent
                                                    </label>
                                                }
                                            </div>
                                            <div class="divider-horizontal"></div>
                                            <span id="reportMessage" style="float: left; margin-left: 5%; color: red;"></span>
                                            <div class="BT">
                                                <button id="buttonPost" class="btn btn-default" onclick="PostReport()"
                                                        data-url="@Url.Action("GetReport", "Reports")"
                                                        data-userid="@currentUserId"
                                                        data-bereportedid="@Model.Id"
                                                        data-option="2">
                                                    Gửi
                                                </button>
                                                <button id="buttonCancel" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------- hết Báo cáo -------------------------------------->
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" style="position: absolute; top: 410px; width: 75vw; height: 50px;">
        <li role="presentation" class="active">@Html.ActionLink("Thảo luận", "MainPage", "Groups", new { id = Model.Id })</li>
        <li role="presentation">@Html.ActionLink("Thành viên", "Members", "Groups", new { id = Model.Id })</li>
    </ul>
    <div class="tennhom" style="position: absolute; top: 320px; font-size: 24px; max-width: 350px; overflow: hidden; text-overflow: ellipsis; display: block; text-shadow: 0 0 3px rgba(0, 0, 0, .8); white-space: nowrap;">
        <a href="@Url.Action("MainPage", "Groups", new { id = Model.Id })"><span style="color:white;">@Html.DisplayFor(model => model.GroupName)</span></a>
        <br />
        <span class="" style="top:-33px;font-size:60%;">
            @if (Model.GroupType == "Public")
            {
                <span style="color: white;">Nhóm công khai</span>
            }
            else
            {
                <span style="color: white;">Nhóm kím</span>
            }
        </span>
    </div>
    <div class="container-fluid text-left">
        <div class="row content">
            <!-----------------------Phần bên trái--------------------------------->
            <div class="col-md-2 col-sm-4 col-xs-12 sidenav">

                <!--------------------------->
                <div class="text-center" class="panel-heading">
                    <h4><strong>MÔ TẢ</strong></h4>
                </div>
                <br>
                <div class="group-description" style="width:100%; height:100px">
                    @Html.TextAreaFor(model => model.Description, new { @style = "width:100%; height:100px; resize: none;", @readonly = "readonly" })
                </div>
                <p>Thành viên : @Model.GroupMembers.Count() thành viên</p>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center" class="panel-heading">
                            <h4><strong>NHÓM</strong></h4>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <ul class="list-group">
                        <a href="#" data-toggle="tooltip" title="Hội những người yêu thích truyện HarryPotter">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                        <img src="/Anhtacgia/JKRowling_tacgia.jpg" style="width:20px;height:20px" />
                                    </div>
                                    <div class="col-md-8">
                                        <li>
                                            <span>Hội yêu thích truyện Harry Potter</span>
                                        </li>
                                    </div>
                                    <div class="col-md-2">
                                        <p>12</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
            <!-------------------------------Center Post---------------------------------------->
            <div class="col-md-6 col-sm-8 col-xs-12 text-left">
                <br />
                <div class="row">
                    <!---------PHẦN NHẬP NỘI DUNG BÀI POST VÀ TAG SÁCH------------>
                    <div class="col-md-12">
                        <div class="post-card" style="background-color: white;">
                            <!--TextBox để nhập nội dung post-->
                            <textarea class="write-post" placeholder="Bạn muốn chia sẻ điều gì về cuốn sách này ?"
                                      id="txtPostContent" data-bind="value: newMessage"></textarea>
                            <div class="divider-horizontal"></div>
                            <div class="row" style="padding: 5px 15px;">
                                <!--Hiển thị thẻ sách - chờ design update-->
                                <div class="col-md-6 col-sm-12 col-xs-12"></div>
                                <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: right;">
                                    <!--Button đăng bài post-->
                                    <input class="btn btn-default" style="background-color: #B4CDCD; color:black;" type="button" value="Đăng"
                                           data-url="/Index/SavePost" id="btnShare" data-bind="click: addPost" data-groupid="@Model.Id" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------HIỂN THỊ CÁC BÀI POST-------------------------->
                <div class="col-md-12" style="margin-top: 7px;" id="msgHolder" data-bind="foreach: posts">
                    <div class="post-card" style="padding-top: 5%; padding: 5px 15px">
                        <div class="row">
                            <div class="col-md-12">
                                <!--Hiển thị thông tin người dùng-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--Ảnh đại diện-->
                                        <div class="owner-avatar">
                                            <img data-bind="attr: { src :'http://res.cloudinary.com/dsddvwiqz/image/upload/c_fill/' + PostedByAvatar }" />
                                        </div>

                                        <div class="owner-info">
                                            <!--Tên người dùng-->
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <span>
                                                        <a class="owner-name" data-bind="text : PostedByName, attr :  {href: 'http://localhost:57185/Timeline/Details/'+PostedById}"></a>
                                                    </span>
                                                        <!--Thời gian post bài-->
                                                    <div class="row">
                                                        <div class="col-md-12" style="color:grey; font-size: 12px">
                                                            <i class="glyphicon glyphicon-time"></i>
                                                            <span data-bind="text : PostedDate"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Drop down list gồm chức năng sửa và xóa post-->
                                                <div class="col-md-1 pull-right">
                                                    <!-- ko if: PostedById == '@Model.Id' -->
                                                    <button type="button" class="btn btn-default dropdown-toggle buttondropdown pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="fa fa-angle-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <!--Button edit post-->
                                                        <li>
                                                            <a href="#" data-toggle="modal" data-bind="attr: { 'data-target': '#'+PostId }">Sửa</a>
                                                        </li>
                                                        <!--Button xóa post-->
                                                        <li>
                                                            <a href="#" data-bind="click: deletePost"> Xóa</a>
                                                        </li>
                                                    </ul>
                                                    <!-- /ko -->
                                                    <!--Pop-up edit post-->
                                                    <div class="modal fade" data-bind="attr:{'id': PostId}" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">CHỈNH SỬA NỘI DUNG BÀI ĐĂNG</h4>
                                                                </div>
                                                                <div class="midle-modal">
                                                                    <div class="row content" style="margin-top:10px;">
                                                                        <div class="col-md-1">
                                                                            <div class="owner-avatar" style="margin:0 0 5px 26px">
                                                                                <img data-bind="attr: { src :'http://res.cloudinary.com/dsddvwiqz/image/upload/c_fill/' + PostedByAvatar }" />

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-11">
                                                                            <textarea class="write-post" style="float:left; width:500px; margin-left:20px;margin-top:-10px;" data-bind="value: Message"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal">Hủy</button>
                                                                    <input type="button" class="btn btn-default" style="background-color: #224A86; color:white"
                                                                           data-dismiss="modal" data-toggle="modal" data-bind="click: editPost" value="Lưu">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--Nội dung bài post-->

                                <br>
                                <div class="divider-horizontal"></div>
                                <p class="post-content"><span style="word-wrap:break-word;" data-bind="html : Message"></span></p>

                                <div class="divider-horizontal"></div>
                                <div class="row">
                                    <!--Thẻ sách-->
                                    <div class="col-md-6 col-sm-12">
                                    </div>
                                    <!--Các button để tương tác với post-->
                                    <div class="col-md-6 col-sm-12" style="text-align: right;">
                                        <ul class="interaction-list">
                                            <!--Nút thích-->
                                            <li>
                                                <button class="post-interaction-btn" data-bind="click: addPostLike" style="color: #224A86;">
                                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                                    <span data-bind="text : NumOfPostLike"></span>
                                                    <span>Thích</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="divider-horizontal"></div>

                                <!--Notify của phần comment-->
                                <a data-bind="click: loadNewComments, visible: NewComments().length > 0">
                                    <span data-bind="    text: NewComments().length"></span>
                                </a>
                                <!--Ô ĐỂ NHẬP BÌNH LUẬN-->
                                <div>
                                    <div class="jumbotron">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!--Ảnh của nười dùng hiện tại-->

                                                <div class="owner-info">
                                                    <div class="col-md-10 col-sm-12 col-xs-12" class="pull-left form-inline">
                                                        <!--Textbox để viết bình luận-->
                                                        <input type="text" class="form-control" style="width: 100%; height: 30px;" 
                                                               data-bind="value : newCommentMessage" placeholder="Viết bình luận..." />
                                                    </div>
                                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                                        <!--Button để bình luận-->
                                                        <input style="text-align: right; color: black; text-decoration-color: black; 
                                                            background-color: #B4CDCD; font-size: 10px;" id="binhluan1" class="btn btn-default" 
                                                               type="button" value="Bình luận" data-bind="click: addComment" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <!--------------------------------HIẾN THỊ CÁC COMMENT CỦA BÀI POST -------------------------->
                                        <ul data-bind="foreach: PostComments">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!--Ảnh của người cmt-->
                                                    <div class="owner-avatar">
                                                        <img style="width:40px;height:40px" data-bind="attr: { src:'http://res.cloudinary.com/dsddvwiqz/image/upload/c_fill/' + CommentedByAvatar }" />
                                                    </div>

                                                    <div class="owner-info">
                                                        <div class="row">
                                                            <!--Tên người cmt-->
                                                            <a class="authorname" data-bind="text: CommentedByName, attr :  {href: 'http://localhost:57185/Timeline/Details/'+CommentedById}"
                                                               style="padding-left: 4%;"></a>
                                                            <!--Nội dung cmt-->
                                                            <p data-bind="    html: Message" style="word-wrap: break-word; font-size: 15px; margin-left: 5%;"></p>
                                                            <!--Các chức năng tương tác với comment-->
                                                            <div class="col-md-12" style="color:grey; font-size: 12px">
                                                                <i class="glyphicon glyphicon-time"></i>
                                                                <span data-bind="text : CommentedDate"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------Phần bên phải -------------------------------->
            <div class="col-md-4 col-sm-4 col-xs-12 sidenav">
                <div class="text-center" class="panel-heading">
                    <h4><strong>ĐÁNH GIÁ VÀ ĐỌC GẦN ĐÂY</strong></h4>
                </div>
                <br>
                <br />
                <!--  Bắt đầu phần trending now -->
                <div class="row">
                    @{int hotBookFieldSet = 1;}
                    @foreach (var interactBook in listInteractBook)
                    {
                        <div class="col-md-6" style="padding-left:15px;">
                            <!--VÒNG FOR BẮT ĐẦU TỪ DIV NÀY-->
                            <div class="col-md-6" style="padding-left:0px;">
                                @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                            .Height(117).Width(90).Crop("fill")).BuildImageTag(interactBook.ImgPublicId,
                                new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                            </div>
                            
                            <br>
                            <br>
                            <div class="col-md-12 list-group">
                                <span>
                                    <strong data-toggle="tooltip" title="@interactBook.BookName.ToUpper()">
                                        <a href="@Url.Action("Details", "Books", new { id = interactBook.Id })">@interactBook.BookName.ToUpper()</a>
                                    </strong>
                                    <br>
                                    @foreach (var author in interactBook.Authors)
                                    {
                                        if (interactBook.Authors.Last() == author)
                                        {
                                            <i data-toggle="tooltip" title="@allAuthor.Where(x => x.Id.ToString().Equals(author)).FirstOrDefault().AuthorName" class="authorname">
                                                <strong>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@allAuthor.Where(x => x.Id.ToString().Equals(author)).FirstOrDefault().AuthorName.ToLower()) </strong>
                                            </i>
                                        }
                                        else
                                        {
                                            <i data-toggle="tooltip" title="@allAuthor.Where(x => x.Id.ToString().Equals(author)).FirstOrDefault().AuthorName" class="authorname">
                                                <strong>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@allAuthor.Where(x => x.Id.ToString().Equals(author)).FirstOrDefault().AuthorName.ToLower()), </strong>
                                            </i>
                                        }
                                    }
                                </span>
                                <fieldset class="rating" id="@hotBookFieldSet" disabled>
                                    <input type="radio" id="star5" name="hot @interactBook.BookName" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="hot @interactBook.BookName" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="hot @interactBook.BookName" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="hot @interactBook.BookName" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="hot @interactBook.BookName" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="hot @interactBook.BookName" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="hot @interactBook.BookName" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="hot @interactBook.BookName" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="hot @interactBook.BookName" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="hot @interactBook.BookName" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                                <script>$("#@hotBookFieldSet input[value='@interactBook.AvarageRating']").attr('checked', true);</script>
                                <h5 style="float:left;">@interactBook.RateTime đánh giá</h5>
                            </div>
                        </div>
                                    hotBookFieldSet++;
                    }
                </div>
                <br />
            </div>
        </div>
    </div>
    <div id="loader" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 100%; height: 100%; margin: 0;">
            <!-- Modal content-->
            <div class="modal-content" style="background-color: transparent; height: 100%; box-shadow: initial; border-bottom-color: transparent;">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</body>
</html>
@section scripts {
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/loader.css" />
    <link rel="stylesheet" href="~/Content/Trangnhom.css">
    <script src="~/Scripts/Custom/group.js"></script>
    <script src="~/Scripts/Custom/report-action.js"></script>

    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/Custom/group-post.js"></script>
    <script src="~/Scripts/Custom/follow-handle.js"></script>
}