@model BSNCapstone.Models.ApplicationUser
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUserId = ViewBag.currentUser;
    var cloudinary = (CloudinaryDotNet.Cloudinary)ViewBag.cloudinary;
    var allUser = (List<BSNCapstone.Models.ApplicationUser>)ViewBag.allUser;
    var reportContentList = (List<string>)ViewBag.reportContentList;
}

<!DOCTYPE html>
<html lang="en">
<body>
    <!-------------------/NAVBAR-------------------------->
    <!-------------------Cover & avatar------------------------->
    <div class="hidden" id="ImageChangeUrl" data-url="@Url.Action("ChangeImage", "Timeline")" data-id="@Model.Id"></div>
    <div class="col-md-12 avatar-cover" style="padding:0; height: 410px;">
        @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
            .Height(350).Width(1349).Crop("fill")).BuildImageTag(Model.Cover,
                new CloudinaryDotNet.StringDictionary("class=cover-img")))
        @if (Model.Id == currentUserId)
        {
            <div class="change-cover">
                <span class="btn btn-file">
                    <i class="glyphicon glyphicon-camera" style="color: white;"></i>
                        <span style="color: white;">Thay đổi ảnh bìa</span>
                    <input type="file" id="imgInpCover" accept=".jpg, .jpeg, .png, .bmp">
                </span>
            </div>
        }
        <div class="row">
            <div class="avatar">
                @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                        .Height(200).Width(200).Crop("mpad")).BuildImageTag(Model.Avatar,
                            new CloudinaryDotNet.StringDictionary("class=avatar-img")))
                @if (Model.Id == currentUserId)
                {
                    <div class="change-avatar">
                        <span class="btn btn-file">
                            <i class="glyphicon glyphicon-camera" style="color: white;"></i>
                                <span style="color: white;">Thay đổi ảnh cá nhân</span>
                            <input type="file" id="imgInpAva" accept=".jpg, .jpeg, .png, .bmp">
                        </span>
                    </div>
                }
            </div>
            <div class="cover-interaction">
                <div class="hidden" id="FollowHandleUrl" data-url="@Url.Action("FollowHandle", "Timeline")" 
                     data-followerid="@currentUserId" data-followeduserid="@Model.Id"></div>
                @if (currentUserId != Model.Id)
                {
                    if (Model.Follower.Contains(currentUserId))
                    {
                        <button class="button buttonRe" id="follow" onclick="FollowHandle(1)" style="display: none;">Theo dõi</button>
                        <button class="button buttonRe" id="unfollow" onclick="FollowHandle(2)">Bỏ Theo dõi</button>
                    }
                    else
                    {
                        <button class="button buttonRe" id="follow" onclick="FollowHandle(1)">Theo dõi</button>
                        <button class="button buttonRe" id="unfollow" onclick="FollowHandle(2)" style="display: none;">Bỏ Theo dõi</button>
                    }
                }
                <button class="button buttonRe">Tin nhắn</button>
                <button class="button buttonRe" data-toggle="modal" data-target="#ModalReport">Báo cáo</button>
                <!---------------Báo cáo -------------------------------------->
                <div id="ModalReport" class="modal fade" role="dialog">
                    <div class="modal-dialog ">
                        <!-- Modal content-->
                        <div class="modal-content ">
                            <div style="background-color: #F7E8AF;" class="modal-header clearfix">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="modal-title"><b>Giúp chúng tôi hiểu điều đang xảy ra</b></h4>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-1" style="margin-top: 5px;">
                                            @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                                .Height(50).Width(50).Crop("fill")).BuildImageTag(allUser.Find(x => x.Id.Equals(currentUserId)).Avatar,
                                                    new CloudinaryDotNet.StringDictionary("class=reportAva")))
                                        </div>
                                        <div class="col-md-11">
                                            <div class="radio">
                                                @foreach (var reportContent in reportContentList)
                                                {
                                                    <label style="display: block;">
                                                        <input type="radio" name="optradio" value="@reportContent"> @reportContent
                                                    </label>
                                                }
                                            </div>
                                            <div class="divider-horizontal"></div>
                                            <span id="reportMessage" style="float: left; margin-left: 5%; color: red;"></span>
                                            <button id="buttonPost" class="btn btn-default" onclick="PostReport()"
                                                    data-url="@Url.Action("GetReport", "Reports")"
                                                    data-userid="@currentUserId"
                                                    data-bereportedid="@Model.Id" 
                                                    data-option="1">
                                                Gửi
                                            </button>
                                            <button id="buttonCancel" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------- /Báo cáo -------------------------------------->
            </div>
        </div>
    </div>
    <!-----------------------UNDER cover & ava--------------------------------->
    <div class="tencanhan"><a href="@Url.Action("Details", "Timeline", new { id = @Model.Id })"><b>@Model.UserName</b></a></div>
    <div class="container-fluid text-left">
        <div class="row content">
            <!------------LEFT SIDE--------------->
            <div class="col-md-2 col-sm-4 col-xs-12 sidenav">
                <div class="text-center" class="panel-heading">
                    <h4><strong>THEO DÕI</strong></h4>
                </div>
                <br>
                <div class="row">
                    @if (Model.Following.Count() != 0)
                    {
                        foreach (var user in allUser)
                        {
                            foreach (var flwing in Model.Following)
                            {
                                if (user.Id == flwing)
                                {
                                    <div class="col-md-6 " style="padding-left:5px;">
                                        @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                            .Height(117).Width(90).Crop("fill")).BuildImageTag(user.Avatar,
                                                new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                                        <ul class="list-group">
                                            <li>
                                                <span>
                                                    <i data-toggle="tooltip" title="@user.UserName.ToUpper()" id="tacgia">
                                                        <strong>
                                                            <a href="@Url.Action("Details", "Timeline", new { id = @flwing })">
                                                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@user.UserName.ToLower())
                                                            </a>
                                                        </strong> 
                                                    </i>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
                <br>
            </div>
            <!-------------------------------Center Post---------------------------------------->
            <div class="col-md-6 col-sm-8 col-xs-12 text-left">
                <br />
                <div class="row">
                    <!---------PHẦN NHẬP NỘI DUNG BÀI POST VÀ TAG SÁCH------------>
                    <div class="col-md-12">
                        <div class="post-card" style="padding-top: 2px;">
                            <!--TextBox để nhập nội dung post-->
                            <textarea class="write-post" placeholder="Bạn đang nghĩ gì ?"
                                      id="txtPostContent" data-bind="value: newMessage"></textarea>

                            <div class="divider-horizontal"></div>

                            <div class="row" style="padding: 5px 15px;">
                                <!--Hiển thị thẻ sách - chờ design update-->
                                <div class="col-md-6 col-sm-12 col-xs-12"></div>
                                <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: right;">
                                    <!--Button để hiển thị ra pop-up gắn thẻ sách-->
                                    <button id="choose-book-tag" class="btn btn-default">Gắn Thẻ sách</button>
                                    <!--Button đăng bài post-->
                                    <input class="btn btn-default" type="button" style="background-color: #224A86" value="Đăng"
                                           data-url="/Index/SavePost" id="btnShare" data-bind="click: addPost" />
                                </div>
                                <!--Pop-up để nhập tag sách-->
                                <div id="book-tag-select" style="display: none">
                                    <div class="content">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nhập thẻ sách">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------HIỂN THỊ CÁC BÀI POST-------------------------->
                <ul id="msgHolder" data-bind="foreach: posts">
                    <div class="col-md-12" style="margin-top: 5px; padding-top:5%;">
                        <div class="post-card" style="padding-top: 5%; padding: 5px 15px">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--Hiển thị thông tin người dùng-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--Ảnh đại diện-->
                                            <div class="owner-avatar">
                                                <img data-bind="attr: { src : PostedByAvatar }" />
                                            </div>

                                            <div class="owner-info">
                                                <!--Tên người dùng-->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a class="owner-name" data-bind="text : PostedBy"></a>
                                                    </div>
                                                    <!--Drop down list gồm chức năng sửa và xóa post-->
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn btn-default dropdown-toggle buttondropdown pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="fa fa-angle-down"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a href="#"> Sửa</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-bind="click: deletePost"> Xóa</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!--Thời gian post bài-->
                                                <div class="row">
                                                    <div class="col-md-12" style="color:grey; font-size: 12px">
                                                        <i class="glyphicon glyphicon-time"></i>
                                                        <span data-bind="text : PostedDate"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Nội dung bài post-->
                                    <p class="post-content"><span data-bind="html : Message"></span></p>

                                    <div class="divider-horizontal"></div>
                                    <div class="row">
                                        <!--Thẻ sách-->
                                        <div class="col-md-6 col-sm-12">
                                        </div>
                                        <!--Các button để tương tác với post-->
                                        <div style="text-align: left;">
                                            <ul class="interaction-list">
                                                <!--Nút thích-->
                                                <li>
                                                    <button class="post-interaction-btn" data-bind="click: addPostLike" style="color:hotpink ">
                                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                                        @*<a data-bind="text : NumOfLike" id="like-count"></a>*@
                                                        <span data-bind="text : NumOfPostLike"></span>
                                                        <span>Thích</span>
                                                    </button>
                                                </li>
                                                <!--Nút chia sẻ-->
                                                <li>
                                                    <button class="post-interaction-btn" data-toggle="modal" data-target="#ModalShare" style="color:chocolate">
                                                        <i class="glyphicon glyphicon-share"></i><span>Chia sẻ</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="divider-horizontal"></div>

                                    <!--Notify của phần comment-->
                                    <a data-bind="click: loadNewComments">load new cmt</a>

                                    <!--Ô ĐỂ NHẬP BÌNH LUẬN-->
                                    <div>
                                        <div class="jumbotron">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!--Ảnh của nười dùng hiện tại-->
                                                    <div class="owner-avatar">
                                                        <img src="/Images/profileimages/user.png" style="width:40px;height:40px" />
                                                    </div>
                                                    <div class="owner-info">
                                                        <!--Textbox để viết bình luận-->
                                                        <textarea class="form-control" data-bind="value: newCommentMessage" placeholder="Viết bình luận..."></textarea>
                                                        <!--Button để bình luận-->
                                                        <input type="button" class="btn btn-warning" value="Bình luận" data-bind="click: addComment" />
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <!--------------------------------HIẾN THỊ CÁC COMMENT CỦA BÀI POST -------------------------->
                                            <ul data-bind="foreach: PostComments">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <!--Ảnh của người cmt-->
                                                        <div class="owner-avatar">
                                                            <img style="width:40px;height:40px" data-bind="attr: { src: CommentedByAvatar }" />
                                                        </div>

                                                        @*<div class="row">*@
                                                        <div class="owner-info">
                                                            <!--Tên người cmt-->
                                                            <a class="authorname" data-bind="text: CommentedBy" style="padding-left: 4%;"></a>
                                                            <!--Nội dung cmt-->
                                                            <span data-bind="    html: Message"></span>

                                                        </div>
                                                        <!--Drop down list gồm chức năng sửa và xóa cmt-->
                                                        <div>
                                                            <button type="button" class="btn btn-default dropdown-toggle buttondropdown pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="fa fa-angle-down"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="#">Sửa</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Xóa</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        @*</div>*@
                                                        <!--Các chức năng tương tác với comment-->
                                                        <ul class="interaction-list">
                                                            <li>
                                                                <button class="post-interaction-btn">
                                                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                                                    @*<i class="glyphicon glyphicon-thumbs-up" data-bind="click: addCmtLike"></i>*@
                                                                    @*<span data-bind="text : NumOfCmtLike"></span>*@
                                                                    <span>Thích</span>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button class="post-interaction-btn" style="color:grey; font-size: 12px">
                                                                    <i class="glyphicon glyphicon-time"></i>
                                                                    <span data-bind="text: CommentedDate"></span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <!--  Bắt đầu phần bên phải -->
            <div class="col-md-4 sidenav">
                <div class="text-center" class="panel-heading">
                    <h4><strong>ĐÁNH GIÁ VÀ ĐỌC GẦN ĐÂY</strong></h4>
                </div>
                <br>
                <br>
                <!--  Bắt đầu phần ĐÁNH GIÁ VÀ ĐỌC GẦN ĐÂY -->
                <div class="row">
                    <div class="col-md-6" style="padding-left:5px;">
                        <div class="col-md-6" style="padding-left:0px;">
                            <img src="/Anhsach/nhagiakim.jpg" class="img-rounded" width="100" height="130">
                        </div>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 style="float:right;">345 đánh giá</h5>
                        <br>
                        <br>
                        <button class="button buttonRe" style="margin-left:15px;">Nhận xét</button>
                        <div class="col-md-12 list-group">
                            <span>
                                <strong data-toggle="tooltip" title="NHÀ GIẢ KIM">NHÀ GIẢ KIM</strong>
                                <br><i data-toggle="tooltip" title="Paulo Coelho" class="authorname"><strong>Paulo Coelho </strong> </i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left:5px;">
                        <div class="col-md-6" style="padding-left:0px;">
                            <img src="/Anhsach/ngayxuacomotchuyentinh.jpg" class="img-rounded" width="100" height="130">
                        </div>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 style="float:right;">345 đánh giá</h5>
                        <br>
                        <br>
                        <button class="button buttonRe" style="margin-left:15px;">Nhận xét</button>
                        <div class="col-md-12 list-group">
                            <span>
                                <strong data-toggle="tooltip" title="NGÀY XƯA CÓ MỘT CHUYỆN TÌNH">NGÀY XƯA CÓ MỘT CHUYỆN TÌNH</strong>
                                <br><i data-toggle="tooltip" title="Nguyễn Nhật Ánh" class="authorname"><strong>Nguyễn Nhật Ánh </strong> </i>
                            </span>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!-- Kết thúc ------------- -->
        </div>
    </div>
</body>

</html>
@section scripts{
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/Custom/post.js"></script>
    <script src="~/Scripts/Custom/group.js"></script>
    <script src="~/Scripts/Custom/follow-handle.js"></script>

    <link rel="stylesheet" href="~/Content/Trangchu_canhan_tacgia.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <script src="~/Scripts/Custom/report-action.js"></script>
}