@model BSNCapstone.Models.ApplicationUser
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUserId = ViewBag.currentUser;
    var cloudinary = (CloudinaryDotNet.Cloudinary)ViewBag.cloudinary;
    var allUser = (List<BSNCapstone.Models.ApplicationUser>)ViewBag.allUser;
    var reportContentList = (List<string>)ViewBag.reportContentList;
    var listInteractBook = (List<BSNCapstone.Models.Book>)ViewBag.listInteractBook;
    var allAuthor = (List<BSNCapstone.Models.Author>)ViewBag.allAuthor;
}

<!DOCTYPE html>
<html lang="en">
<body>
    <!-------------------/NAVBAR-------------------------->
    <!-------------------Cover & avatar------------------------->
    <div class="hidden" id="ImageChangeUrl" data-url="@Url.Action("ChangeImage", "Timeline")" data-id="@Model.Id"></div>
    <div class="col-md-12 avatar-cover" style="padding:0; height: 410px;">
        @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
            .Height(350).Width(1349).Crop("fill")).BuildImageTag(Model.Cover,
                new CloudinaryDotNet.StringDictionary("class=cover-img")))
        @if (Model.Id == currentUserId)
        {
            <div class="change-cover">
                <span class="btn btn-file">
                    <i class="glyphicon glyphicon-camera" style="color: white;"></i>
                    <span style="color: white;">Thay đổi ảnh bìa</span>
                    <input type="file" id="imgInpCover" accept=".jpg, .jpeg, .png, .bmp">
                </span>
            </div>
        }
        <div class="row">
            <div class="avatar">
                @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                        .Height(200).Width(200).Crop("mpad")).BuildImageTag(Model.Avatar,
                            new CloudinaryDotNet.StringDictionary("class=avatar-img")))
                @if (Model.Id == currentUserId)
                {
                    <div class="change-avatar">
                        <span class="btn btn-file">
                            <i class="glyphicon glyphicon-camera" style="color: white;"></i>
                            <span style="color: white;">Thay đổi ảnh cá nhân</span>
                            <input type="file" id="imgInpAva" accept=".jpg, .jpeg, .png, .bmp">
                        </span>
                    </div>
                }
            </div>
            <div class="cover-interaction">
                <div class="hidden" id="FollowHandleUrl" data-url="@Url.Action("FollowHandle", "Timeline")"
                     data-followerid="@currentUserId" data-followeduserid="@Model.Id"></div>
                @if (currentUserId != Model.Id)
                {
                    if (Model.Follower.Contains(currentUserId))
                    {
                        <button class="button buttonRe" id="follow" onclick="FollowHandle(1)" style="display: none;">Theo dõi</button>
                        <button class="button buttonRe" id="unfollow" onclick="FollowHandle(2)">Bỏ Theo dõi</button>
                    }
                    else
                    {
                        <button class="button buttonRe" id="follow" onclick="FollowHandle(1)">Theo dõi</button>
                        <button class="button buttonRe" id="unfollow" onclick="FollowHandle(2)" style="display: none;">Bỏ Theo dõi</button>
                    }
                    <button class="button buttonRe" data-toggle="modal" data-target="#ModalReport">Báo cáo</button>
                }
                <!---------------Báo cáo -------------------------------------->
                <div id="ModalReport" class="modal fade" role="dialog">
                    <div class="modal-dialog ">
                        <!-- Modal content-->
                        <div class="modal-content ">
                            <div style="background-color: #F7E8AF;" class="modal-header clearfix">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="modal-title"><b>Giúp chúng tôi hiểu điều đang xảy ra</b></h4>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-1" style="margin-top: 5px;">
                                            @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                                .Height(50).Width(50).Crop("fill")).BuildImageTag(allUser.Find(x => x.Id.Equals(currentUserId)).Avatar,
                                                    new CloudinaryDotNet.StringDictionary("class=reportAva")))
                                        </div>
                                        <div class="col-md-11">
                                            <div class="radio">
                                                @foreach (var reportContent in reportContentList)
                                                {
                                                    <label style="display: block;">
                                                        <input type="radio" name="optradio" value="@reportContent"> @reportContent
                                                    </label>
                                                }
                                            </div>
                                            <div class="divider-horizontal"></div>
                                            <span id="reportMessage" style="float: left; margin-left: 5%; color: red;"></span>
                                            <button id="buttonPost" class="btn btn-default" onclick="PostReport()"
                                                    data-url="@Url.Action("GetReport", "Reports")"
                                                    data-userid="@currentUserId"
                                                    data-bereportedid="@Model.Id"
                                                    data-option="1">
                                                Gửi
                                            </button>
                                            <button id="buttonCancel" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------- /Báo cáo -------------------------------------->
            </div>
        </div>
    </div>
    <!-----------------------UNDER cover & ava--------------------------------->
    <div class="tencanhan" style="position:absolute; top:350px; left: 250px">
        <a href="@Url.Action("Details", "Timeline", new { id = @Model.Id })">
            <b>@Model.UserName</b>
        </a>
    </div>
    <div class="container-fluid text-left">
        <div class="row content">
            <!------------LEFT SIDE--------------->
            <div class="col-md-2 col-sm-4 col-xs-12 sidenav">
                <div class="text-center" class="panel-heading">
                    <h4><strong>THEO DÕI</strong></h4>
                </div>
                <br>
                <div class="row">
                    @if (Model.Following.Count() != 0)
                    {
                        foreach (var user in allUser)
                        {
                            foreach (var flwing in Model.Following)
                            {
                                if (user.Id == flwing)
                                {
                                    <div class="col-md-6 " style="padding-left:5px;">
                                        @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                            .Height(117).Width(90).Crop("fill")).BuildImageTag(user.Avatar,
                                                new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                                        <ul class="list-group">
                                            <li>
                                                <span>
                                                    <i data-toggle="tooltip" title="@user.UserName.ToUpper()" id="tacgia">
                                                        <strong>
                                                            <a href="@Url.Action("Details", "Timeline", new { id = @flwing })">
                                                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@user.UserName.ToLower())
                                                            </a>
                                                        </strong>
                                                    </i>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
                <br>
            </div>
            <!-------------------------------Center Post---------------------------------------->
            <div class="col-md-6 col-sm-8 col-xs-12 text-left">
            <br />
            @if (Model.Id == currentUserId)
            {
                <div class="row">
                    <!---------PHẦN NHẬP NỘI DUNG BÀI POST VÀ TAG SÁCH------------>
                    <div class="col-md-12">
                        <div class="post-card" style="background-color: white;">
                            <!--TextBox để nhập nội dung post-->
                            <textarea class="write-post" placeholder="Bạn muốn chia sẻ điều gì về cuốn sách này ?"
                                      id="txtPostContent" data-bind="value: newMessage"></textarea>
                            <div class="divider-horizontal"></div>
                            <div class="row" style="padding: 5px 15px;">
                                <!--Hiển thị thẻ sách - chờ design update-->
                                <div class="col-md-6 col-sm-12 col-xs-12"></div>
                                <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: right;">
                                    <!--Button đăng bài post-->
                                    <input type="text" id="txtAutocomplete" class="txt" placeholder="Nhập thẻ sách" required />
                                    <input type="hidden" id="hiddenBookTag" />
                                    <input id="btnShare" class="btn btn-default" type="button" value="Đăng"
                                           data-url="/Index/SavePost" data-bind="click: addPost" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             }
                <!------------------------HIỂN THỊ CÁC BÀI POST-------------------------->
                <div class="col-md-12" style="margin-top: 7px;" id="msgHolder" data-bind="foreach: posts">
                    <div class="post-card" style="padding-top: 5%; padding: 5px 15px">
                        <div class="row">
                            <div class="col-md-12">
                                <!--Hiển thị thông tin người dùng-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--Ảnh đại diện-->
                                        <div class="owner-avatar">
                                            <img data-bind="attr: { src :'http://res.cloudinary.com/dsddvwiqz/image/upload/c_fill/' + PostedByAvatar }" />
                                        </div>

                                        <div class="owner-info">
                                            <!--Tên người dùng-->
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <span>
                                                        <a class="owner-name" data-bind="text : PostedByName"></a>
                                                        chia sẻ về cuốn sách <a data-bind="text : BookTag"></a>
                                                    </span>
                                                <!--Thời gian post bài-->
                                                   <div class="row">
                                                       <div class="col-md-12" style="color:grey; font-size: 12px">
                                                           <i class="glyphicon glyphicon-time"></i>
                                                           <span data-bind="text : PostedDate"></span>
                                                       </div>
                                                   </div>
                                                </div>
                                                <!--Drop down list gồm chức năng sửa và xóa post-->
                                                <div class="col-md-1 pull-right">
                                                    <button type="button" class="btn btn-default dropdown-toggle buttondropdown pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="fa fa-angle-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <!--Button edit post-->
                                                        <li>
                                                            <a href="#" data-toggle="modal" data-bind="attr: { 'data-target': '#'+PostId }">Sửa</a>
                                                        </li>
                                                        <!--Button xóa post-->
                                                        <li>
                                                            <a href="#" data-bind="click: deletePost"> Xóa</a>
                                                        </li>
                                                    </ul>
                                                    <!--Pop-up edit post-->
                                                    <div class="modal fade" data-bind="attr:{'id': PostId}" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">CHỈNH SỬA NỘI DUNG BÀI ĐĂNG</h4>
                                                                </div>
                                                                <div class="midle-modal">
                                                                    <div class="row content" style="margin-top:10px;">
                                                                        <div class="col-md-1">
                                                                            <div class="owner-avatar" style="margin:0 0 5px 26px">
                                                                                <img data-bind="attr: { src :'http://res.cloudinary.com/dsddvwiqz/image/upload/c_fill/' + PostedByAvatar }" />

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-11">
                                                                            <textarea class="write-post" style="float:left; width:500px; margin-left:20px;margin-top:-10px;" data-bind="value: Message"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal">Hủy</button>
                                                                    <input type="button" class="btn btn-default" style="background-color: #224A86; color:white"
                                                                           data-dismiss="modal" data-toggle="modal" data-bind="click: editPost" value="Lưu">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--Nội dung bài post-->

                                <br>
                                <div class="divider-horizontal"></div>
                                <p class="post-content"><span style="word-wrap:break-word;" data-bind="html : Message"></span></p>

                                <div class="divider-horizontal"></div>
                                <div class="row">
                                    <!--Thẻ sách-->
                                    <div class="col-md-6 col-sm-12">
                                    </div>
                                    <!--Các button để tương tác với post-->
                                    <div class="col-md-6 col-sm-12" style="text-align: right;">
                                        <ul class="interaction-list">
                                            <!--Nút thích-->
                                            <li>
                                                <button class="post-interaction-btn" data-bind="click: addPostLike" style="color: #224A86;">
                                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                                    <span data-bind="text : NumOfPostLike"></span>
                                                    <span>Thích</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="divider-horizontal"></div>

                                <!--Notify của phần comment-->
                                <a data-bind="click: loadNewComments, visible: NewComments().length > 0">
                                    <span data-bind="    text: NewComments().length"></span>
                                </a>
                                <!--Ô ĐỂ NHẬP BÌNH LUẬN-->
                                <div>
                                    <div class="jumbotron">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!--Ảnh của nười dùng hiện tại-->
                                                <div class="owner-avatar">
                                                    @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                                    .Height(40).Width(40).Crop("fill")).BuildImageTag(@Model.Avatar,
                                                    new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                                                </div>
                                                <div class="owner-info">
                                                    <div class="col-md-10 col-sm-12 col-xs-12" class="pull-left form-inline">
                                                        <!--Textbox để viết bình luận-->
                                                        <input type="text" class="form-control" style="width: 100%; height: 30px;" data-bind="value : newCommentMessage" placeholder="Viết bình luận..." />
                                                    </div>
                                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                                        <!--Button để bình luận-->
                                                        <input style="text-align: right; " id="binhluan1" class="btn btn-default" type="button" value="Bình luận" data-bind="click: addComment" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <!--------------------------------HIẾN THỊ CÁC COMMENT CỦA BÀI POST -------------------------->
                                        <ul data-bind="foreach: PostComments">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!--Ảnh của người cmt-->
                                                    <div class="owner-avatar">
                                                        <img style="width:40px;height:40px" data-bind="attr: { src:'http://res.cloudinary.com/dsddvwiqz/image/upload/c_fill/' + CommentedByAvatar }" />
                                                    </div>

                                                    <div class="owner-info">
                                                        <div class="row">
                                                            <!--Tên người cmt-->
                                                            <a class="authorname" data-bind="text: CommentedBy" style="padding-left: 4%;"></a>
                                                            <!--Nội dung cmt-->
                                                            <p data-bind="    html: Message" style="word-wrap: break-word; font-size: 15px; margin-left: 5%;"></p>
                                                            <!--Các chức năng tương tác với comment-->
                                                            <ul class="interaction-list" style="padding-left: 8%;">
                                                                <li>
                                                                    <button class="post-interaction-btn" style="color:grey; font-size: 12px">
                                                                        <i class="glyphicon glyphicon-time"></i>
                                                                        <span data-bind="text: CommentedDate"></span>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                
            <!--  Bắt đầu phần bên phải -->
            <div class="col-md-4 sidenav">
                <div class="text-center" class="panel-heading">
                    <h4><strong>ĐÁNH GIÁ VÀ ĐỌC GẦN ĐÂY</strong></h4>
                </div>
                <br>
                <br>
                <!--  Bắt đầu phần ĐÁNH GIÁ VÀ ĐỌC GẦN ĐÂY -->
                <div class="row">
                    @{ var interactBookId = 1; }
                    @foreach (var interactBook in listInteractBook)
                    {
                        <div class="col-md-6" style="padding-left:5px;">
                            <div class="col-md-6" style="padding-left:0px;">
                                @(cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation()
                                    .Height(117).Width(90).Crop("fill")).BuildImageTag(interactBook.ImgPublicId,
                                        new CloudinaryDotNet.StringDictionary("class=img-rounded")))
                            </div>
                            
                            <br>
                            <br>
                            <div class="col-md-12 list-group">
                                <span>
                                    <strong data-toggle="tooltip" title="@interactBook.BookName.ToUpper()">
                                        <a href="@Url.Action("Details", "Books", new { id = @interactBook.Id })">@interactBook.BookName.ToUpper()</a>
                                    </strong>
                                    <br>
                                    @foreach (var author in interactBook.Authors)
                                    {
                                        if (interactBook.Authors.Last() == author)
                                        {
                                            <i data-toggle="tooltip" title="@allAuthor.Where(x => x.Id.ToString().Equals(author)).FirstOrDefault().AuthorName" class="authorname">
                                                <strong>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@allAuthor.Where(x => x.Id.ToString().Equals(author)).FirstOrDefault().AuthorName.ToLower()) </strong>
                                            </i>
                                        }
                                        else
                                        {
                                            <i data-toggle="tooltip" title="@allAuthor.Where(x => x.Id.ToString().Equals(author)).FirstOrDefault().AuthorName" class="authorname">
                                                <strong>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@allAuthor.Where(x => x.Id.ToString().Equals(author)).FirstOrDefault().AuthorName.ToLower()), </strong>
                                            </i>
                                        }
                                    }
                                </span>
                                <fieldset class="rating" id="@interactBookId" disabled>
                                    <input type="radio" id="star5" name="hot @interactBook.BookName" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="hot @interactBook.BookName" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="hot @interactBook.BookName" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="hot @interactBook.BookName" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="hot @interactBook.BookName" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="hot @interactBook.BookName" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="hot @interactBook.BookName" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="hot @interactBook.BookName" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="hot @interactBook.BookName" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="hot @interactBook.BookName" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                                <script>$("#@interactBookId input[value='@interactBook.AvarageRating']").attr('checked', true);</script>
                                <h5 style="float:left;">@interactBook.RateTime đánh giá</h5>
                            </div>
                        </div>
                        interactBookId++;
                    }
                </div>
                <br>
            </div>
            <!-- Kết thúc ------------- -->
        </div>
    </div>
    <div id="loader" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 100%; height: 100%; margin: 0;">
            <!-- Modal content-->
            <div class="modal-content" style="background-color: transparent; height: 100%; box-shadow: initial; border-bottom-color: transparent;">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</body>

</html>
@section scripts{
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/Custom/timeline-post.js"></script>
    <script src="~/Scripts/Custom/group.js"></script>
    <script src="~/Scripts/Custom/follow-handle.js"></script>
    <link rel="stylesheet" href="~/Content/loader.css" />

    <link rel="stylesheet" href="~/Content/Trangchu_canhan_tacgia.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <script src="~/Scripts/Custom/report-action.js"></script>

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
}

<script>
    $(document).ready(function () {
        $("#txtAutocomplete").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetBookTag", "Timeline")',
                    dataType: 'Json',
                    type: 'POST',
                    data: { input: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.BookName, value: item.Id
                            };
                        }))
                    }
                });

            },
            focus: function (event, ui) {
                $(this).val(ui.item.label)
                return false;
            },

            select: function (event, ui) {
                $("#hiddenBookTag").val(ui.item.value);
                $(this).val(ui.item.label)
                return false;
            },
        });
    })
</script>