@model BSNCapstone.Models.Book

<link rel="stylesheet" href="~/Content/TrangAdmin.css">
@*<script src="~/Scripts/filter.js"></script>*@

<div class="modal-dialog">
    <!---Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thêm sách và thể loại</h4>
        </div>
        <div class="midle-modal">
            @using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row content col-xs-6 form-area" style="margin-top:10px;">
                    <h4><b>Thêm sách</b></h4>
                    <form role="form">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.BookName, new { @class = "form-control", @placeholder = "Tên sách" })
                                <p>@Html.ValidationMessageFor(model => model.BookName)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Authors, new { @class = "form-control", @placeholder = "Tác giả" })
                                <p>@Html.ValidationMessageFor(model => model.Authors)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Categories, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Categories)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ReleaseDay)
                                <p>@Html.ValidationMessageFor(model => model.ReleaseDay)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Publishers, new { @class = "form-control", @placeholder = "Nhà xuất bản" })
                                <p>@Html.ValidationMessageFor(model => model.Publishers)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Miêu tả" })
                                <p>@Html.ValidationMessageFor(model => model.Description)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="file" id="ImgPublicId" name="img" style="color:black">
                            </div>
                        </div>
                        <button type="submit" id="btnSave" class="btn btn-primary pull-right">Thêm</button>
                    </form>
                </div>

            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $('#btnSave').click(function () {
            $('#myModal').modal('hide');
        });
    });
</script>
