@model BSNCapstone.Models.Book

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int bookNumber = ViewBag.bookNumber;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin-Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">*@
    @*<link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/Content/TrangAdmin.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/filter.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="~/Content/font-awesome.css">
</head>

<body>
    <!--------------DƯỚI NAV----------------->
    <div class="col-md-12">
        <!------BÊN TRÁI------>
        <div class="col-md-2">
            <div class="row">
                <div class="thumbnail">
                    <img src="Anhtacgia/nguy%E1%BB%85n%20nh%E1%BA%ADt%20%C3%A1nh_tacgia.jpg" alt="Quản trị viên">
                    <div class="caption">
                        <h4>HảiCM (Admin)</h4>
                    </div>
                </div>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="group">
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-Dashboard.html'">Tổng quan</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-User.html'">Quản lý người dùng</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-Author.html'">Quản lý tác giả</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-Group.html'">Quản lý Nhóm</button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Quản lý sách <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="TrangAdmin-Book.html">Thống kê sách</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="TrangAdmin-Requestbook.html">Yêu cầu thêm sách</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-Slider.html'">Quản lý Slider</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-NXB.html'">Quản lý Nhà xuất bản</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-Report.html'">Quản lý Phản hồi</button>
            </div>
        </div>
        <!------BÊN PHẢI------>
        <div class="col-md-10">

            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-book fa-4x"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Tổng số sách</h4>
                    <p>@bookNumber</p>
                </div>
            </div>

            <div class="slide-tab">
                <div class="form-inline">
                    <label>Thêm Sách</label>
                    <div class="form-group add">
                        @*@Html.ActionLink("Thêm thể loại", "Create", "Categories", null, new { @class = "modal-link btn btn-primary" })*@
                        <button type="button" class="modal-link btn btn-primary" data-toggle="modal" data-target="#createCategoryModal">Thêm thể loại</button>
                    </div>
                    <div class="modal fade" id="createCategoryModal" role="dialog">
                        <div class="modal-dialog addCategory">
                            <!---Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Thêm thể loại</h4>
                                </div>
                                <div class="midle-modal">
                                    <div class="row content col-xs-12 form-area" style="margin-top:10px;">
                                        <form role="form">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="categoryname" name="categoryname" placeholder="Tên thể loại" required>
                                                <span class="alert-warning" @*hidden="hidden"*@ id="categoryErrorMessage"></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="createCategory" name="submit" class="btn btn-primary">Thêm</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider-horizontal"></div>
                <div class="form-area-addbook" style="margin-top:10px;">
                    @using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.BookName, new { @class = "form-control", @placeholder = "Tựa sách" })
                            @Html.ValidationMessageFor(model => model.BookName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Authors, new { @class = "form-control", @placeholder = "Tác giả" })
                            @Html.ValidationMessageFor(model => model.Authors, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <strong>@Html.DisplayNameFor(model => model.ReleaseDay)</strong>
                            @Html.EditorFor(model => model.ReleaseDay, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReleaseDay, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.ListBox("Publishers", ViewBag.PublisherId as MultiSelectList, new { @class = "chzn-select", @style = "width: 100%;", @data_placeholder = "Chọn NXB..." })
                            @Html.ValidationMessageFor(model => model.Publishers, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.ListBox("Categories", ViewBag.CategoryId as MultiSelectList, new { @class = "chzn-select", @style = "width: 100%;", @data_placeholder = "Chọn thể loại..." })
                            @Html.ValidationMessageFor(model => model.Categories, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Miêu tả", @style = "resize: none;" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group" style="margin-top:1%; margin-left:0px">
                            <div>
                                <input type="file" id="ImgPublicId" name="img" style="color:black">
                                <p class="help-block" style="color:black">Đổi ảnh bìa</p>
                                @Html.ValidationMessageFor(model => model.ImgPublicId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px; text-align: center;">
                            <input type="submit" value="Thêm" class="btn btn-primary" />
                            <button type="button" id="cancel" name="cancel" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Books")'">Hủy</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="@Url.Content("~/Content/Chosen/chosen.jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Chosen/chosen.css")" rel="stylesheet" type="text/css" />
<script>    $(".chzn-select").chosen(); </script> @*Hookup Chosen Plugin*@

<script>
    $(document).ready(function () {
        $("#createCategory").click(function () {
            var formData = new FormData();
            formData.append("categoryName", $("#categoryname").val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Categories")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,

                success: function (result) {
                    document.getElementById('categoryErrorMessage').innerHTML = null;
                    document.getElementById('categoryErrorMessage').innerHTML = result;
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        });

        $('#createCategoryModal').on('hidden.bs.modal', function (e) {
            console.log("123");
            $(this)
                .find("input,textarea,select,span")
                    .val('')
                    .end()
                .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
            document.getElementById('categoryErrorMessage').innerHTML = null;
        })
    });
</script>