@model IEnumerable<BSNCapstone.Models.Book>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin-Sách";
    int bookNumber = ViewBag.bookNumber;
    var allCategories = ((List<BSNCapstone.Models.Category>)ViewBag.allCategories);
    var allPublishers = ((List<BSNCapstone.Models.Publisher>)ViewBag.allPublishers);
    var allAuthors = ((List<BSNCapstone.Models.ApplicationUser>)ViewBag.allAuthors);
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="col-md-10">

        <div class="box">
            <div class="box-icon">
                <span class="fa fa-book fa-4x"></span>
            </div>
            <div class="info">
                <!--HIỂN THỊ SỐ LƯỢNG SÁCH-->
                <h4 class="text-center">Tổng số sách</h4>
                <p>@bookNumber</p>
                <!---->
            </div>
        </div>

        <div class="slide-tab">
            @*HaiCN. Create. Start . 12-11-2016*@
            <div class="portlet portlet-green">
                @*HaiCN. Create. End . 12-11-2016*@
                <div class="form-inline">
                    <label>Danh sách Sách</label>
                    <div class="form-group add">
                        @using (Html.BeginForm("Index", "Books", FormMethod.Get, new { @class = "searchForm" }))
                        {
                            @Html.TextBox("searchString")
                            <input type="submit" value="Tìm" />
                <!-- <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Tìm kiếm..." />  ---->
                        }
                    </div>
                </div>
                @*HaiCN. Delete. Start . 11-11-2016*@
                <!-- <div class="modal fade" id="myModal" role="dialog"></div>
                <div class="divider-horizontal"></div>
                    <div class="table"> -->
                @*HaiCN. Delete. End . 11-11-2016*@
                @*HaiCN. Create. Start . 12-11-2016*@
                <div class="portlet-body">
                    <div class="table-responsive">
                        @*HaiCN. Create. End . 12-11-2016*@
                        <table class="table table-striped table-bordered table-hover" id="example-table">
                            <thead>
                                <tr>
                                    <th style="width:1px">#</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BookName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Authors)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Categories)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReleaseDay)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Publishers)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th style="width:130px">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr id="@i">
                                        <td>@i</td>
                                        <td style="vertical-align: middle">
                                            @Html.DisplayFor(modelItem => item.BookName)
                                        </td>
                                        <td style="vertical-align: middle">
                                            @foreach (var author in item.Authors)
                                            {
                                                <p>
                                                    @if (allAuthors.Find(x => x.Id.Equals(author)) != null)
                                                    {
                                                        @Html.DisplayFor(authorItem => allAuthors.Where(x => x.Id.Equals(author)).First().UserName)
                                                    }
                                                </p>
                                            }
                                        </td>
                                        <td style="vertical-align: middle">
                                            @foreach (var category in item.Categories)
                                            {
                                                <p>
                                                    @{foreach (var cat in allCategories)
                                                    {
                                                        if (category == cat.Id)
                                                        {
                                                            @Html.DisplayFor(categoryItem => cat.CategoryName)
                                                        }
                                                    }
                                                    }
                                                </p>
                                            }
                                        </td>
                                        <td style="vertical-align: middle">
                                            @Html.DisplayFor(modelItem => item.ReleaseDay)
                                        </td>
                                        <td style="vertical-align: middle">
                                            @foreach (var publisher in item.Publishers)
                                            {
                                                <p>
                                                    @foreach (var pub in allPublishers)
                                                    {
                                                        if (publisher == pub.Id)
                                                        {
                                                            @Html.DisplayFor(modelItem => pub.Name)
                                                        }
                                                    }
                                                </p>
                                            }
                                        </td>
                                        <td style="vertical-align: middle">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td style="vertical-align: middle">
                                            <button type="button" class="btn btn-info fa fa-pencil-square-o" onclick="location.href='@Url.Action("Edit", "Books", new { id = item.Id })'">Sửa</button>
                                            <button type="submit" class="btn btn-danger fa fa-close" onclick="DeleteConfirm('@item.Id', '@i')">Xóa</button>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!--Modal popup-->
<script type="text/javascript">
    // DELETE IMAGE
    function DeleteConfirm(id, i) {
        var deleteConfirm = confirm("Bạn có chắc muốn xóa quyển sách này ko?");
        if (deleteConfirm) {
            var formData = new FormData();
            formData.append("id", id);
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteConfirm", "Books")",
                data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,

                success: function (result) {
                    alert(result);
                    $('table tbody tr#' + i).fadeOut('slow', function () { $(this).remove(); })
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
    };
</script>

