@model IEnumerable<BSNCapstone.Models.Book>
@{
    int bookNumber = ViewBag.bookNumber;
    string userName = ViewBag.currentUser;
    var allCategories = ((List<BSNCapstone.Models.Category>)ViewBag.allCategories);
    var allPublishers = ((List<BSNCapstone.Models.Publisher>)ViewBag.allPublishers);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin-Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/TrangAdmin.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/filter.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="~/Content/font-awesome.css">
</head>

<body>
    <!--------------DƯỚI NAV----------------->
    <div class="col-md-12">
        <!------BÊN TRÁI------>
        <div class="col-md-2">
            <div class="row">
                <div class="thumbnail">
                    <img src="Anhtacgia/nguy%E1%BB%85n%20nh%E1%BA%ADt%20%C3%A1nh_tacgia.jpg" alt="Quản trị viên">
                    <div class="caption">
                        <h4>@userName</h4>
                    </div>
                </div>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="group">
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-Dashboard.html'">Tổng quan</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-User.html'">Quản lý người dùng</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-Author.html'">Quản lý tác giả</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-Group.html'">Quản lý Nhóm</button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Quản lý sách <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Thống kê sách", "Index")</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="TrangAdmin-Requestbook.html">Yêu cầu thêm sách</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index", "Slider")'">Quản lý Slider</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-NXB.html'">Quản lý Nhà xuất bản</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='TrangAdmin-Report.html'">Quản lý Phản hồi</button>
            </div>
        </div>
        <!------BÊN PHẢI------>
        <div class="col-md-10">

            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-book fa-4x"></span>
                </div>
                <div class="info">
                    <!--HIỂN THỊ SỐ LƯỢNG SÁCH-->
                    <h4 class="text-center">Tổng số sách</h4>
                    <p>@bookNumber</p>
                    <!---->
                </div>
            </div>

            <div class="slide-tab">
                <div class="form-inline">
                    <label>Danh sách Sách</label>
                    <div class="form-group add">
                        @Html.ActionLink("Thêm sách", "Create", "Books", @*null, new { @class = "modal-link btn btn-default" }*@new { @class = "btn btn-default"})
                        @using (Html.BeginForm("Index", "Books", FormMethod.Get, new { @class = "searchForm" }))
                        {
                            @Html.TextBox("searchString")
                            <input type="submit" value="Tìm" />
                            @*<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Tìm kiếm..." />*@
                        }
                    </div>
                    <div class="modal fade" id="myModal" role="dialog"></div>
                    <div class="divider-horizontal"></div>
                    <div class="table">
                        <table class="table table-striped table-bordered table-hover" id="dev-table">
                            <thead>
                                <tr>
                                    <th style="width:1px">#</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BookName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Authors)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Categories)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReleaseDay)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Publishers)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th style="width:130px">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr id="@i">
                                        <td>@i</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Authors)
                                        </td>
                                        <td>
                                            @foreach (var category in item.Categories)
                                            {
                                                <p>
                                                    @{foreach (var cat in allCategories)
                                                    {
                                                        if (category == cat.Id)
                                                        {
                                                            @Html.DisplayFor(categoryItem => cat.CategoryName)
                                                        }
                                                    }
                                                    }
                                                </p>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReleaseDay)
                                        </td>
                                        <td>
                                            @foreach (var publisher in item.Publishers)
                                            {
                                                <p>
                                                    @foreach (var pub in allPublishers)
                                                    {
                                                        if (publisher == pub.Id)
                                                        {
                                                            @Html.DisplayFor(modelItem => pub.Name)
                                                        }
                                                    }
                                                </p>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @*<input type="submit" value="Edit" id="@item.Id" class="btn btn-default" />*@
                                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                                            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                                            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                            <button type="button" class="btn btn-info fa fa-pencil-square-o" onclick="location.href='@Url.Action("Edit", "Books", new { id = item.Id })'">Sửa</button>
                                            <button type="submit" class="btn btn-danger fa fa-close" onclick="DeleteConfirm('@item.Id', '@i')">Xóa</button>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-------NÚT SANG TRANG------->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!--Modal popup-->
<script type="text/javascript">
    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#myModal');
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#myModal').modal('hide');
        });

        $('#myModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });

    // DELETE IMAGE
    function DeleteConfirm(id, i) {
        var deleteConfirm = confirm("Bạn có chắc muốn xóa quyển sách này ko?");
        if (deleteConfirm) {
            var formData = new FormData();
            formData.append("id", id);
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteConfirm", "Books")",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,

                success: function (result) {
                    alert(result);
                    $('table tbody tr#' + i).fadeOut('slow', function () { $(this).remove(); })
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
    };
</script>

